@use 'sass:math';

$primary: indigo;
$base-padding: 1rem;
$base-border-thickness: 3px;

@import 'shinobi';

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;

    .left-content {
        display: flex;
        width: 250px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .user-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 10px;
            border: 1px solid var(--border-light-grey, #EEE);
            background: #FFF;
            width: 100%;
        }

        .user-info {
            display: flex;
            padding: 14px 16px;
            align-items: center;
            gap: 15px;
            background: var(--color-red-primary, #B6020F);
            border-radius: 10px 10px 0 0;
            width: -webkit-fill-available;

            .u-img {
                cursor: pointer;
                width: 60px;
                height: 60px;
                flex-shrink: 0;
                border-radius: 100px;
                border: 1px solid #FFF;
                background: url(/img/92350283_1165985643739290_7457379281144905728_n.jpg) lightgray 50% / cover no-repeat;
            }

            .u-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                flex: 1 0 0;

                .text-u-name {
                    cursor: pointer;
                    color: #FFF;
                    text-align: center;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 128%;
                    /* 19.2px */
                }

                .text-u-small {
                    color: var(--color-white, #FFF);
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 128%;
                    /* 14.08px */
                }
            }
        }

        .user-point {
            display: flex;
            padding: 10px 15px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            background: rgba(255, 226, 228, 0.40);

            .user-point-text {
                color: var(--color-red-primary, #B6020F);
                text-align: center;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 145%;
                /* 18.85px */
            }
        }

        .user-function {
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;
            align-self: stretch;

            .btn {
                display: flex;
                padding: 10px 15px;
                align-items: center;
                gap: 15px;
                align-self: stretch;
                border-radius: 6px;
                background: var(--background-grey, #F8F8F8);
                color: #3D4C68;
                font-size: $font-size-sm;

                &:hover {
                    background-color: #EEE;
                }
            }
        }
    }

    .main-content {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;

        .post-article {
            display: flex;
            padding: 14px 16px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid var(--border-light-grey, #EEE);
            background: #FFF;
            font-weight: 600;
            line-height: 128%;
            /* 20.48px */

            .post-container {
                display: flex;
                align-items: center;
                gap: 16px;
                justify-content: space-between;
                width: 100%;
            }

            .btn {
                display: flex;
                padding: 10px 16px;
                align-items: flex-start;
                gap: 10px;
                color: var(--color-white, #FFF);
                border-radius: 6px;
                border: 1px solid var(--color-red-primary, #B6020F);
                background: var(--color-red-primary, #B6020F);
                font-size: 16px;
                font-weight: 500;
                line-height: 128%;
                /* 20.48px */

                &:hover {}
            }
        }

        .article-filter {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;

            .tag-filter {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .tag-wrapper {
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    gap: 8px;

                    .btn {
                        border-color: #FFF;

                        &:hover {
                            border: 1.5px solid #B6020F;
                            color: #B6020F;
                        }
                    }

                }
            }
        }

        .article-show {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }
    }

    .right-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.tag {
    cursor: pointer;
    border-radius: 39px;
    background: #FFF;
    padding: 7px 12px;
    border: 1px solid #3D4C68;
    gap: 10px;
    color: var(--text-black, #222);
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
}

.tag-click {
    border-color: #FFF;
    color: var(--text-grey, #666);

    &:hover {
        border: 1.5px solid #B6020F;
        color: #B6020F;
    }
}

.tag-active {
    border: 1.5px solid #B6020F;
    color: #B6020F;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 11px;

    img {
        width: 45px;
        height: 45px;
        border-radius: 45px;
        border: 0.5px solid var(--border-light-grey, #EEE);
        object-fit: cover;
    }

    .user-post-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        .user-post-follow {
            display: flex;
            align-items: flex-start;
            gap: 6px;
            color: #3D4C68;
            font-size: 14px;
            font-weight: 500;
            line-height: normal;

            .author-name {
                color: #3D4C68;
                cursor: pointer;
            }

            .seperate-point {
                color: #999;
                text-align: right;
            }

            .author-follow {
                color: #B6020F;
                text-align: right;
                cursor: pointer;
            }
        }

        .user-post-sm-text {
            color: #666;
            font-size: 12px;
            font-weight: 400;
            line-height: 128%;
            /* 15.36px */
        }
    }
}

.real-estate-consignment-background {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: url("/img/18f66961620e9cfa3f18c6bd73dd9d39.jfif");
    background-size: cover;
    background-position: center top 15%;

    .content-container {
        display: flex;
        width: 660px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex-shrink: 0;

        .text-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 17px;
            align-self: stretch;

            .font-xxl {
                align-self: stretch;
                text-align: center;
                font-weight: 700;
                line-height: 145%;
                /* 34.8px */
            }

            .font-xl {
                align-self: stretch;
                text-align: center;
                font-weight: 400;
                line-height: 145%;
                /* 27.55px */
            }
        }

        .search-section {
            display: flex;
            height: 30px;
            padding: 10px 15px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 6px;
            background: #FFF;

            #search {
                width: 100%;
                background: none;
            }
        }
    }
}

.about-karo {
    padding: 56px 0 56px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .font-black {
        width: 660px;
        text-align: center;
        font-weight: 700;
        line-height: 145%;
        /* 34.8px */
    }

    .card-container {
        display: flex;
        padding: 0px 24px;
        align-items: flex-start;
        gap: 16px;

        .card-info {
            display: flex;
            width: 250px;
            height: 343px;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 22px;
            border-radius: 8px;
            background: #FFF;
            position: relative;

            .font-big-red {
                font-size: 40px;
                font-weight: 700;
                line-height: normal;
            }

            .font-black {
                width: auto;
                text-align: unset;
                align-self: stretch;
                font-size: 18px;
                font-weight: 400;
                line-height: 145%;
                /* 26.1px */
            }

            .view-more {
                display: flex;
                padding: 14px;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 16px;
                bottom: 16px;
                border-radius: 50px;
                background: var(--background-grey, #F8F8F8);
                backdrop-filter: blur(9px);
                cursor: pointer;
            }
        }
    }
}

#search {
    color: var(--text-grey, #666);
    font-family: Be Vietnam Pro;
    font-size: $base-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    /* 23.2px */
    border: none;
    background: var(--background-grey, #F8F8F8);

    &:focus {
        outline: none;
    }
}

.footer {
    background-color: #000;
    height: 433px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-info-section {
        display: flex;
        width: 1115px;
        justify-content: space-between;
        align-items: center;

        .info-left-section {
            display: flex;
            width: 275px;
            flex-direction: column;
            align-items: flex-start;
            gap: 33px;
            flex-shrink: 0;

            .info-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                align-self: stretch;

                .karo-logo {
                    display: flex;
                    align-items: center;
                    gap: 12.417px;

                    .karo-title {
                        color: #FFF;
                        text-align: center;
                        font-size: 33.019px;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.776px;
                    }
                }

                .karo-contact {
                    align-self: stretch;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;

                    .uppercase {
                        font-weight: 500;
                    }
                }
            }

            .link-section {
                width: 210px;
                height: 30px;
                gap: 15px;
                display: flex;

                .link-icon {
                    position: relative;

                    .social-media-icon {
                        position: absolute;
                        left: 6px;
                        bottom: 6px;
                    }
                }
            }
        }
    }
}

.no-gap {
    gap: 0px;
}

.font-big-red {
    color: #B6020F;
    font-size: 17px;
    font-weight: 500;
    line-height: 145%;
    /* 24.65px */
}

.font-red {
    color: #B6020F;
}

.font-basic {
    color: #333;
}

.font-black {
    color: var(--color-black, #111);
}

.font-white {
    color: var(--color-white, #FFF);
}

.font-light-grey {
    color: var(--text-light-grey, #999);
}

.font-grey {
    color: #666;
}

.font-light-dark-blue {
    color: #3D4C68;
}

.font-xxl {
    font-size: 24px;
}

.font-xl {
    font-size: 19px;
}

.font-reg-sm {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.uppercase {
    text-transform: uppercase;
}

.text-error {
    color: red;
}

.menu {
    display: none;
}

.form-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(17, 17, 17, 0.65);
    flex-shrink: 0;
}

.width250px {
    width: 250px;
}

@media screen and (max-width: 1440px) {
    .navbar {
        width: 100%;
    }
}

@media screen and (max-width: 1180px) {
    .login-register {
        content-visibility: hidden;
    }
}

@media screen and (max-width: 1160px) {
    .btn {
        font-size: 14px !important;
    }

    .content {
        .main-content {
            .post-container {
                font-size: 14px !important;
            }

            .article-filter {
                .tag-wrapper {
                    width: auto !important;
                }
            }

            .deal-card-other-view {
                width: 100%;

                .address {
                    width: 100% !important;

                    .main-title {
                        font-size: 14px !important;

                        .places {
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }

        .right-content {
            .connect-suggestion-card {
                width: auto;

                .post-wrapper {
                    width: 228px;
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .search {
        width: 30px !important;
        height: 30px;
        border-radius: 30px !important;

        input {
            display: none;
        }
    }
}

@media screen and (max-width: 980px) {
    .content {
        .right-content {
            display: none;
        }
    }

    .menu {
        display: contents;
        gap: 25px;
    }

    .navbar {
        .info {
            display: none !important;
        }
    }

}

@media screen and (max-width: 570px) {
    .navbar {
        .right-section {
            .info {
                font-size: 12px !important;
            }
        }
    }
}