@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

.wrapper {
  font-family: Be Vietnam Pro;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  background-color: #F8F8F8;
  font-size: 16px;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.text-error {
  color: #d32752;
}

.btn {
  cursor: pointer;
  color: var(--text-black, #222);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sign-up-btn {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-navy, #3D4C68);
}
.sign-up-btn:hover {
  background-color: red;
  color: white;
}

.btn-login {
  background: var(--text-black, #222);
  color: white;
}

.btn-action {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9.125px;
  flex: 1 0 0;
  border-radius: 6px;
  border: 0.8px solid #E0E3EA;
  background: #FFF;
}
.btn-action:hover {
  border: 0.8px solid #B6020F;
  color: #B6020F;
}
.btn-action > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-action-regular {
  color: var(--color-navy, #3D4C68);
}
.btn-action-regular:hover {
  color: #B6020F;
}

.btn-action-red {
  border: 0.8px solid #B6020F;
  background: #B6020F;
  padding: 10px 7px;
  color: white;
}
.btn-action-red:hover {
  background-color: red;
  color: #FFF;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  width: 1440px;
  padding: 13px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #FFF;
}
.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.navbar div .left-section {
  align-items: center;
  gap: 30px;
  display: flex;
}
.navbar div .left-section .Karo-logo {
  display: flex;
  align-items: center;
  gap: 9.778px;
}
.navbar div .left-section .Karo-logo .logo-title {
  color: #000;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 29.333px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.611px;
}
.navbar div .left-section .search {
  display: flex;
  width: 316px;
  padding: 15px 14px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--background-grey, #F8F8F8);
  justify-content: left;
}
.navbar div .left-section .search #search {
  color: var(--text-grey, #666);
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 23.2px */
  border: none;
  background: var(--background-grey, #F8F8F8);
}
.navbar div .right-section {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar div .right-section .info {
  display: flex;
  align-items: flex-start;
  gap: 47px;
}
.navbar div .right-section .info a {
  color: var(--text-grey, #666);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  /* 312.5% */
}
.navbar div .right-section .info a:hover {
  color: black;
}
.navbar div .right-section .login-register {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar div .right-section .login-register .seperate-line {
  width: 1px;
  height: 36px;
  background: #EEE;
}

.display-f {
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
}
.content .left-content {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.content .left-content .user-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
}
.content .left-content .user-info {
  display: flex;
  padding: 14px 16px;
  align-items: center;
  gap: 15px;
  background: var(--color-red-primary, #B6020F);
  border-radius: 10px 10px 0 0;
}
.content .left-content .user-info .u-img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #FFF;
  background: url(/img/92350283_1165985643739290_7457379281144905728_n.jpg) lightgray 50%/cover no-repeat;
}
.content .left-content .user-info .u-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}
.content .left-content .user-info .u-text .text-u-name {
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 19.2px */
}
.content .left-content .user-info .u-text .text-u-small {
  color: var(--color-white, #FFF);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 14.08px */
}
.content .left-content .user-point {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: rgba(255, 226, 228, 0.4);
}
.content .left-content .user-point div {
  color: var(--color-red-primary, #B6020F);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 18.85px */
}
.content .left-content .user-function {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.content .left-content .user-function .btn {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  border-radius: 6px;
  background: var(--background-grey, #F8F8F8);
  color: #3D4C68;
  font-size: 14px;
}
.content .left-content .user-function .btn:hover {
  background-color: #EEE;
}
.content .left-content .advertise-section {
  display: flex;
  padding: 13.333px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  border-radius: 10px;
  border: 0.833px solid var(--border-light-grey, #EEE);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFEFEF 71.54%), #FFF;
}
.content .left-content .advertise-section .advertise-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
  color: var(--text-black, #222);
  font-size: 18.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
}
.content .left-content .advertise-section .advertise-title .title {
  color: var(--color-red-primary, #B6020F);
}
.content .left-content .advertise-section .advertise-title .join-link {
  width: 120px;
  height: 15px;
}
.content .left-content .advertise-section .advertise-title .join-link a {
  display: inline-flex;
  align-items: center;
  gap: 8.333px;
}
.content .left-content .advertise-section .advertise-title .join-link a div {
  color: var(--color-red-primary, #B6020F);
  font-size: 11.667px;
  font-weight: 600;
  line-height: 130%;
  /* 15.167px */
  text-transform: uppercase;
}
.content .left-content .advertise-section .advertise-img {
  width: 223.333px;
  height: 175.735px;
}
.content .main-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.content .main-content .post-article {
  display: flex;
  padding: 14px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
  font-weight: 600;
  line-height: 128%;
  /* 20.48px */
}
.content .main-content .post-article > div {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}
.content .main-content .post-article .btn {
  display: flex;
  padding: 10px 16px;
  align-items: flex-start;
  gap: 10px;
  color: var(--color-white, #FFF);
  border-radius: 6px;
  border: 1px solid var(--color-red-primary, #B6020F);
  background: var(--color-red-primary, #B6020F);
  font-size: 16px;
  font-weight: 500;
  line-height: 128%;
  /* 20.48px */
}
.content .main-content .post-article .btn:hover {
  color: white;
  background-color: red;
}
.content .main-content .article-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.content .main-content .article-filter .tag-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.content .main-content .article-filter .tag-filter .tag-wrapper {
  display: flex;
  width: 343px;
  align-items: flex-start;
  gap: 8px;
}
.content .main-content .article-filter .tag-filter .tag-wrapper .btn {
  border-color: #FFF;
}
.content .main-content .article-filter .tag-filter .tag-wrapper .btn:hover {
  border: 1.5px solid #B6020F;
  color: #B6020F;
}
.content .main-content .article-show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.content .main-content .article-show .deal-card-other-view {
  display: flex;
  width: 550px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0.8px solid #E4E4E4;
  background: #FFF;
}
.content .main-content .article-show .deal-card-other-view .author {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 16px;
  gap: 10px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0.5px solid var(--border-light-grey, #EEE);
  background: #FFF;
}
.content .main-content .article-show .deal-card-other-view .author .dropdown-function {
  display: flex;
  padding-top: 2px;
  align-items: flex-start;
  gap: 10px;
}
.content .main-content .article-show .deal-card-other-view .author .dropdown-function .dropdown-content {
  display: none;
  position: absolute;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid #E0E3EA;
  background: #FFF;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.09);
  color: var(--text-black, #222);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  /* 21.75px */
}
.content .main-content .article-show .deal-card-other-view .author .dropdown-function .dropdown-content a,
.content .main-content .article-show .deal-card-other-view .author .dropdown-function .dropdown-content .text-error {
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.content .main-content .article-show .deal-card-other-view .author .dropdown-function .dropdown-content a:hover,
.content .main-content .article-show .deal-card-other-view .author .dropdown-function .dropdown-content .text-error:hover {
  background: #EEE;
}
.content .main-content .article-show .deal-card-other-view .author .dropdown-function .dropdown-content a {
  color: black;
}
.content .main-content .article-show .deal-card-other-view .author .dropdown-function .dropdown-content div {
  height: 1px;
  align-self: stretch;
  background: var(--background-grey, #F8F8F8);
}
.content .main-content .article-show .deal-card-other-view .author .dropdown-function:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content .main-content .article-show .deal-card-other-view .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.content .main-content .article-show .deal-card-other-view .info .detail {
  display: grid;
  padding: 16px;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.content .main-content .article-show .deal-card-other-view .info .detail .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.content .main-content .article-show .deal-card-other-view .info .detail .title .address {
  display: flex;
  width: 518px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.content .main-content .article-show .deal-card-other-view .info .detail .title .address .status {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #3D4C68;
  font-size: 13px;
  font-weight: 600;
  line-height: 145%;
  /* 18.85px */
  text-transform: uppercase;
}
.content .main-content .article-show .deal-card-other-view .info .detail .title .address .main-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: #222;
  font-size: 17px;
  font-weight: 500;
  line-height: 145%;
  /* 24.65px */
}
.content .main-content .article-show .deal-card-other-view .info .detail .title .address .main-title .places {
  color: #44ACF8;
  font-size: 14px;
  font-weight: 400;
}
.content .main-content .article-show .deal-card-other-view .info .detail .title .important-detail {
  display: flex;
  align-items: center;
  gap: 8px;
  /* 24.65px */
}
.content .main-content .article-show .deal-card-other-view .info .detail .title .important-detail .house-size {
  width: 66px;
  height: 24px;
  align-items: center;
  gap: 8px;
}
.content .main-content .article-show .deal-card-other-view .info .detail .img-list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.content .main-content .article-show .deal-card-other-view .info .detail .img-list .post-img {
  height: 167px;
  flex: 1 0 0;
  width: 255px;
  flex-shrink: 0;
  object-fit: cover;
}
.content .main-content .article-show .deal-card-other-view .info .detail .img-list .post-img-1 {
  width: 518px;
  height: 261px;
  flex-shrink: 0;
  object-fit: cover;
}
.content .main-content .article-show .deal-card-other-view .info .detail .suggestion {
  display: flex;
  padding: 7px 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  background: var(--background-blue, rgba(68, 172, 248, 0.1));
  color: var(--color-navy, #3D4C68);
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
  /* 20.3px */
}
.content .main-content .article-show .deal-card-other-view .info .action {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}
.content .main-content .article-show .deal-card-other-view .info .action .action-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.content .main-content .article-show .deal-card-other-view .info .action .action-list .btn {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.content .main-content .article-show .deal-card-other-view .info .action .action-list .btn-action-red {
  color: white;
}
.content .right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.content .right-content .connect-suggestion {
  display: flex;
  width: 280px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
}
.content .right-content .connect-suggestion .connect-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: #3D4C68;
  font-size: 13px;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
}
.content .right-content .connect-suggestion .connect-list .info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  text-transform: capitalize;
  color: #666;
  font-size: 11px;
  font-weight: 400;
  line-height: 128%;
  /* 14.08px */
}
.content .right-content .connect-suggestion .connect-list .info-list .display-f {
  width: 248px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.content .right-content .connect-suggestion .connect-list .info-list .display-f .user-info {
  display: flex;
  align-items: center;
  gap: 14px;
  align-self: stretch;
}
.content .right-content .connect-suggestion .connect-list .info-list .display-f .user-info .u-img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: lightgray 50%/cover no-repeat;
  object-fit: cover;
}
.content .right-content .connect-suggestion .connect-list .info-list .display-f .user-info .display-f {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}
.content .right-content .connect-suggestion .connect-list .info-list .display-f .user-info .display-f .user-name {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  color: #222;
  font-size: 13px;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
}
.content .right-content .connect-suggestion .connect-list .info-list .display-f .user-info .display-f .user-name .user-follow {
  color: #B6020F;
  font-size: 13px;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
}
.content .right-content .connect-suggestion .connect-list .info-list .line {
  width: 248px;
  height: 1px;
  background: #F8F8F8;
}
.content .right-content .connect-suggestion .connect-list .reload-list {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: #F8F8F8;
  color: var(--color-navy, #3D4C68);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
}
.content .right-content .connect-suggestion .connect-list .reload-list:hover {
  background-color: #EEEEEE;
}

.tag {
  cursor: pointer;
  border-radius: 39px;
  background: #FFF;
  padding: 7px 12px;
  border: 1px solid #3D4C68;
  gap: 10px;
  color: var(--text-black, #222);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.tag-click {
  border-color: #FFF;
  color: var(--text-grey, #666);
}
.tag-click:hover {
  border: 1.5px solid #B6020F;
  color: #B6020F;
}

.tag-active {
  border: 1.5px solid #B6020F;
  color: #B6020F;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 11px;
}
.author-info img {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border: 0.5px solid var(--border-light-grey, #EEE);
  object-fit: cover;
}
.author-info .user-post-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.author-info .user-post-text .user-post-follow {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  color: #3D4C68;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.author-info .user-post-text .user-post-follow .author-name {
  color: #3D4C68;
}
.author-info .user-post-text .user-post-follow .seperate-point {
  color: #999;
  text-align: right;
}
.author-info .user-post-text .user-post-follow .author-follow {
  color: #B6020F;
  text-align: right;
}
.author-info .user-post-text .user-post-sm-text {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  line-height: 128%;
  /* 15.36px */
}

.font-big-red {
  color: #B6020F;
  font-size: 17px;
  font-weight: 500;
  line-height: 145%;
  /* 24.65px */
}

.font-reg-sm {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

.text-error {
  color: red;
}

@media screen and (max-width: 1250px) {
  .navbar .left-section .search {
    width: 20px;
  }
  .navbar .left-section #search {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .navbar .right-section .info {
    font-size: 14px;
  }
  .content .left-content {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .navbar .right-section .info {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  .content .right-content {
    display: none;
  }
}