@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

.wrapper {
  font-family: Be Vietnam Pro;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  background-color: #F8F8F8;
  font-size: 16px;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.text-error {
  color: #d32752;
}

.deal-card-other-view {
  display: flex;
  width: 550px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0.8px solid #E4E4E4;
  background: #FFF;
}
.deal-card-other-view .author {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding: 16px;
  gap: 10px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0.5px solid var(--border-light-grey, #EEE);
  background: #FFF;
}
.deal-card-other-view .author .dropdown-function {
  display: flex;
  padding-top: 2px;
  align-items: flex-start;
  gap: 10px;
}
.deal-card-other-view .author .dropdown-function .dropdown-content {
  display: none;
  position: absolute;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid #E0E3EA;
  background: #FFF;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.09);
  color: var(--text-black, #222);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  /* 21.75px */
}
.deal-card-other-view .author .dropdown-function .dropdown-content a,
.deal-card-other-view .author .dropdown-function .dropdown-content .text-error {
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.deal-card-other-view .author .dropdown-function .dropdown-content a:hover,
.deal-card-other-view .author .dropdown-function .dropdown-content .text-error:hover {
  background: #EEE;
}
.deal-card-other-view .author .dropdown-function .dropdown-content a {
  color: black;
}
.deal-card-other-view .author .dropdown-function .dropdown-content .dropdown-content-line {
  height: 1px;
  align-self: stretch;
  background: var(--background-grey, #F8F8F8);
}
.deal-card-other-view .author .dropdown-function:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.deal-card-other-view .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.deal-card-other-view .info .detail {
  display: grid;
  padding: 16px;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.deal-card-other-view .info .detail .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.deal-card-other-view .info .detail .title .address {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.deal-card-other-view .info .detail .title .address .status {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #3D4C68;
  font-size: 13px;
  font-weight: 600;
  line-height: 145%;
  /* 18.85px */
  text-transform: uppercase;
}
.deal-card-other-view .info .detail .title .address .main-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: #222;
  font-size: 17px;
  font-weight: 500;
  line-height: 145%;
  /* 24.65px */
}
.deal-card-other-view .info .detail .title .address .main-title .places {
  color: #44ACF8;
  font-size: 14px;
  font-weight: 400;
}
.deal-card-other-view .info .detail .title .important-detail {
  display: flex;
  align-items: center;
  gap: 8px;
  /* 24.65px */
}
.deal-card-other-view .info .detail .title .important-detail .house-size {
  width: 66px;
  height: 24px;
  align-items: center;
  gap: 8px;
}
.deal-card-other-view .info .detail .img-list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.deal-card-other-view .info .detail .img-list .post-img {
  height: 167px;
  flex: 1 0 0;
  width: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.deal-card-other-view .info .detail .img-list .post-img-1 {
  width: 100%;
  height: 261px;
  flex-shrink: 0;
  object-fit: cover;
}
.deal-card-other-view .info .detail .suggestion {
  display: flex;
  padding: 7px 10px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  background: var(--background-blue, rgba(68, 172, 248, 0.1));
  color: var(--color-navy, #3D4C68);
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
  cursor: pointer;
  /* 20.3px */
}
.deal-card-other-view .info .action {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}
.deal-card-other-view .info .action .action-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.deal-card-other-view .info .action .action-list .btn {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.deal-card-other-view .info .action .action-list .btn-action-red {
  color: white;
}

.connect-suggestion-card {
  display: flex;
  width: 280px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
}
.connect-suggestion-card .connect-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  /* 16.64px */
}
.connect-suggestion-card .connect-list .suggest-text {
  color: var(--color-navy, #3D4C68);
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
  text-transform: uppercase;
}
.connect-suggestion-card .connect-list .info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  /* 14.08px */
}
.connect-suggestion-card .connect-list .info-list .post-save {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--background-grey, #F8F8F8);
  cursor: pointer;
}
.connect-suggestion-card .connect-list .info-list .post-save:hover {
  background-color: #EEEEEE;
}
.connect-suggestion-card .connect-list .info-list .post-save .post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}
.connect-suggestion-card .connect-list .info-list .post-save .post-wrapper .post-title {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #3D4C68;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 12px;
  font-weight: 600;
  line-height: 128%;
  /* 15.36px */
  text-transform: uppercase;
}
.connect-suggestion-card .connect-list .info-list .post-save .post-wrapper .post-detail {
  align-self: stretch;
  color: var(--text-black, #222);
  font-size: 13px;
  font-weight: 500;
  line-height: 155%;
  /* 20.15px */
}
.connect-suggestion-card .connect-list .info-list .user-post-follow {
  font-size: 13px;
}
.connect-suggestion-card .connect-list .info-list .user-post-sm-text {
  font-size: 11px;
}
.connect-suggestion-card .connect-list .info-list .line {
  width: 248px;
  height: 1px;
  background: #F8F8F8;
}
.connect-suggestion-card .connect-list .reload-list {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: #F8F8F8;
  color: var(--color-navy, #3D4C68);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 16.64px */
}
.connect-suggestion-card .connect-list .reload-list:hover {
  background-color: #EEEEEE;
}

.form-wrapper {
  display: flex;
  width: 500px;
  padding: 30px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 15px;
  background: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-wrapper .verify-success {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.form-wrapper .verify-success .display-f {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.form-wrapper .verify-success .display-f .icon-check-success {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 13.333px;
  border-radius: 66.667px;
  background: var(--status-success, #28C76F);
}
.form-wrapper .verify-success .display-f .icon-check-success svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.form-wrapper .verify-success .display-f .text-decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.form-wrapper .verify-success .display-f .text-decoration .text-notify-success {
  align-self: stretch;
  color: var(--color-navy, #3D4C68);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 145%;
  /* 34.8px */
}
.form-wrapper .verify-success .text-contact {
  width: 100%;
  color: var(--text-black, #222);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}
.form-wrapper .verify-success .text-contact .font-red {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  display: contents;
}
.form-wrapper .remove {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 50px;
  background: #FFF;
}
.form-wrapper .remove svg {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  cursor: pointer;
}
.form-wrapper .user-verify-section {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--border-grey, #DDD);
}
.form-wrapper .user-verify-section .user-verify-info {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
}
.form-wrapper .user-verify-section .user-verify-info .font-basic {
  width: 115px;
}
.form-wrapper .user-verify-section .user-verify-info .font-black,
.form-wrapper .user-verify-section .user-verify-info .font-light-grey {
  font-weight: 500;
}
.form-wrapper .user-verify-section .user-verify-info .font-red {
  font-size: 16px;
  font-weight: 600;
}
.form-wrapper .deal-item {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--border-grey, #DDD);
}
.form-wrapper .deal-item .house-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.form-wrapper .deal-item .house-info-section .house-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.form-wrapper .deal-item .house-info-section .house-info-title .house-code {
  display: flex;
  align-items: flex-start;
  color: var(--text-black, #222);
  font-size: 15px;
  font-weight: 500;
  line-height: 145%;
  gap: 5px;
}
.form-wrapper .deal-item .house-info-section .house-info-title .view-detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 145%;
  cursor: pointer;
}
.form-wrapper .deal-item .house-info-section .address {
  align-self: stretch;
  color: #44ACF8;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  /* 21.75px */
}
.form-wrapper .deal-item .house-info-section .house-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.form-wrapper .deal-item .house-info-section .house-detail .house-detail-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.form-wrapper .deal-item .house-info-section .house-detail .house-detail-container .house-detail-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
.form-wrapper .deal-item .house-info-section .house-detail .house-detail-container .house-detail-wrapper svg {
  width: 24px;
  height: 24px;
}
.form-wrapper .deal-item .house-info-section .house-detail .house-detail-container .house-detail-wrapper .house-detail-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 145%;
}
.form-wrapper .deal-item .house-info-section .house-detail .house-detail-container .house-detail-wrapper .house-detail-info .font-grey {
  font-weight: 400;
}
.form-wrapper .deal-item .house-info-section .house-detail .house-detail-container .house-detail-wrapper .house-detail-info .font-light-dark-blue {
  font-weight: 500;
}
.form-wrapper .deal-item .house-info-section .img-list {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  align-self: stretch;
}
.form-wrapper .deal-item .house-info-section .img-list img {
  height: 94px;
  flex: 1 0 0;
  object-fit: cover;
}

.advertise-section {
  display: flex;
  padding: 13.333px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  border-radius: 10px;
  border: 0.833px solid var(--border-light-grey, #EEE);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFEFEF 71.54%), #FFF;
}
.advertise-section .advertise-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
  color: var(--text-black, #222);
  font-size: 18.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
}
.advertise-section .advertise-title .title {
  color: var(--color-red-primary, #B6020F);
}
.advertise-section .advertise-title .join-link {
  width: 120px;
  height: 15px;
}
.advertise-section .advertise-title .join-link a {
  display: inline-flex;
  align-items: center;
  gap: 8.333px;
}
.advertise-section .advertise-title .join-link a .join-text {
  color: var(--color-red-primary, #B6020F);
  font-size: 11.667px;
  font-weight: 600;
  line-height: 130%;
  /* 15.167px */
  text-transform: uppercase;
}
.advertise-section .advertise-img {
  width: 223.333px;
  height: 175.735px;
}

.real-estate-consignment-card {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background: #FFF;
}
.real-estate-consignment-card .card-title {
  display: flex;
  width: 550px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--border-light-grey, #EEE);
}
.real-estate-consignment-card .card-title .line-title {
  width: 5px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--color-red-primary, #B6020F);
}
.real-estate-consignment-card .card-title .font-light-dark-blue {
  flex: 1 0 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 128%;
  /* 23.04px */
  text-transform: uppercase;
}
.real-estate-consignment-card .card-fill-form {
  display: flex;
  width: 550px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.real-estate-consignment-card .card-fill-form .input-item {
  display: flex;
  height: 30px;
  padding: 10px 15px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
  cursor: pointer;
}
.real-estate-consignment-card .card-fill-form .input-item #search {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 128%;
  background-color: #FFF;
  /* 19.2px */
}
.real-estate-consignment-card .card-fill-form .input-item-info {
  padding: 14px 15px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  display: flex;
  justify-content: space-between;
  flex: 1 0 0;
  cursor: pointer;
}
.real-estate-consignment-card .card-fill-form .input-item-info .font-grey {
  display: flex;
}
.real-estate-consignment-card .card-fill-form .input-item-info .font-grey .font-red {
  color: var(--status-error, #DB4A42);
}
.real-estate-consignment-card .card-fill-form .input-item-info #search {
  font-size: 15px;
  font-weight: 400;
  line-height: 128%;
  background-color: #FFF;
  /* 19.2px */
}
.real-estate-consignment-card .card-fill-form .input-item-info .font-black {
  text-align: center;
  text-transform: none !important;
}
.real-estate-consignment-card .card-fill-form .input-item-info .select {
  font-size: 15px;
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  color: #666;
  line-height: 145%;
  border-color: white;
  outline: white;
}
.real-estate-consignment-card .card-fill-form .input-item-info .select:focus {
  outline: none;
}
.real-estate-consignment-card .card-fill-form .ai-support {
  display: flex;
  align-items: center;
  gap: 7px;
  align-self: stretch;
  cursor: pointer;
}
.real-estate-consignment-card .card-fill-form .ai-support .font-red {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 145%;
  /* 20.3px */
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .font-black {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 128%;
  /* 19.2px */
  text-transform: uppercase;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-fill-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-fill-form .select-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 5px;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-fill-form .select-list .btn {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 6px;
  line-height: 128%;
  /* 20.48px */
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .font-light-dark-blue {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 145%;
  /* 23.2px */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .font-light-dark-blue .font-grey {
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
  text-transform: none;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list .img-container {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  display: flex;
  position: relative;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list .img-container .img {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 6px;
  background: url("/img/house-picture.png");
  background-size: cover;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list .img-container .img-tool-left {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  bottom: 5px;
  left: 5px;
  cursor: pointer;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list .img-container .img-tool-right {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list .img-container .tool-pic {
  position: absolute;
  top: 6px;
  left: 6px;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list .img-container .add-img {
  border-radius: 6px;
  background: rgba(61, 76, 104, 0.15);
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  cursor: pointer;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-img .img-list .img-container .img-tool-center {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-notice {
  display: flex;
  padding: 10px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 5px;
  background: var(--status-warning, #FFF2AE);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-notice .font-red {
  color: var(--status-error, #DB4A42);
  display: flex;
  gap: 4px;
}
.real-estate-consignment-card .card-fill-form .real-estate-info-container .info-notice .font-black {
  text-transform: none;
  font-weight: 400;
}
.real-estate-consignment-card .card-fill-form .contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
}
.real-estate-consignment-card .card-fill-form .contact-info .font-black {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 128%;
  /* 19.2px */
  text-transform: uppercase;
}
.real-estate-consignment-card .card-fill-form .contact-info .describe-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}
.real-estate-consignment-card .card-fill-form .contact-info .describe-info .font-grey {
  cursor: pointer;
  display: flex;
  height: 130px;
  padding: 10px 15px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  /* 21.75px */
}
.real-estate-consignment-card .card-fill-form .contact-info .describe-info .ai-support {
  align-self: auto;
}
.real-estate-consignment-card .card-fill-form .confirm-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.real-estate-consignment-card .card-fill-form .confirm-card .btn {
  padding: 14px 10px;
  font-size: 17px;
  font-weight: 600;
  line-height: 128%;
  /* 21.76px */
}

.btn {
  cursor: pointer;
  color: var(--text-black, #222);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-navy {
  background: var(--color-navy, #3D4C68);
  color: #fff;
}

.btn-dark-grey {
  background: var(--color-dark-grey, #EFEFEF);
  color: #666;
}

.sign-up-btn {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-navy, #3D4C68);
}
.btn-login {
  background: var(--text-black, #222);
  color: white;
}

.btn-action {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9.125px;
  flex: 1 0 0;
  border-radius: 6px;
  border: 0.8px solid #E0E3EA;
  background: #FFF;
}
.btn-action > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-action-regular {
  color: var(--color-navy, #3D4C68);
}
.btn-action-regular:hover {
  color: #B6020F;
  border: 0.8px solid #B6020F;
}

.btn-action-red {
  border: 0.8px solid #B6020F;
  background: #B6020F;
  padding: 10px 7px;
  color: white;
}
.btn-action-red:hover {
  border: 0.8px solid #B6020F;
  color: #FFF;
}

.btn-action-yellow-cream {
  border: 0.8px solid var(--status-warning, #FFF2AE);
  background: var(--status-warning, #FFF2AE);
  padding: 10px 7px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 13px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #FFF;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.navbar .nav-container .left-section {
  align-items: center;
  gap: 30px;
  display: flex;
}
.navbar .nav-container .left-section .Karo-logo {
  display: flex;
  align-items: center;
  gap: 9.778px;
}
.navbar .nav-container .left-section .Karo-logo .logo-title {
  color: #000;
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 29.333px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.611px;
}
.navbar .nav-container .left-section .search {
  display: flex;
  width: 316px;
  padding: 15px 14px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--background-grey, #F8F8F8);
  justify-content: left;
}
.navbar .nav-container .right-section {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar .nav-container .right-section .info {
  display: flex;
  align-items: flex-start;
  gap: 47px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.navbar .nav-container .right-section .info a {
  color: var(--text-grey, #666);
  text-align: center;
  /* 312.5% */
}
.navbar .nav-container .right-section .info a:hover {
  color: black;
}
.navbar .nav-container .right-section .login-register {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar .nav-container .right-section .login-register .seperate-line {
  width: 1px;
  height: 36px;
  background: #EEE;
}
.navbar .nav-container .right-section .login-register svg {
  cursor: pointer;
}
.navbar .nav-container .right-section .login-register .u-login-info {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.navbar .nav-container .right-section .login-register .u-login-info img {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: lightgray 50%/cover no-repeat;
  object-fit: cover;
}
.navbar .nav-container .right-section .login-register .u-login-info .u-login-container {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
  color: var(--color-navy, #3D4C68);
  font-size: 13px;
  font-weight: 500;
  line-height: 128%;
  /* 16.64px */
}

.br {
  border-radius: 20px;
}

.display-f {
  display: flex;
}

.font-xl {
  font-size: 32px;
}

.font-xxl {
  font-size: 48px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
}
.content .left-content {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.content .left-content .user-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
  width: 100%;
}
.content .left-content .user-info {
  display: flex;
  padding: 14px 16px;
  align-items: center;
  gap: 15px;
  background: var(--color-red-primary, #B6020F);
  border-radius: 10px 10px 0 0;
  width: -webkit-fill-available;
}
.content .left-content .user-info .u-img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #FFF;
  background: url(/img/92350283_1165985643739290_7457379281144905728_n.jpg) lightgray 50%/cover no-repeat;
}
.content .left-content .user-info .u-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}
.content .left-content .user-info .u-text .text-u-name {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  /* 19.2px */
}
.content .left-content .user-info .u-text .text-u-small {
  color: var(--color-white, #FFF);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%;
  /* 14.08px */
}
.content .left-content .user-point {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: rgba(255, 226, 228, 0.4);
}
.content .left-content .user-point .user-point-text {
  color: var(--color-red-primary, #B6020F);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 18.85px */
}
.content .left-content .user-function {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.content .left-content .user-function .btn {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  border-radius: 6px;
  background: var(--background-grey, #F8F8F8);
  color: #3D4C68;
  font-size: 14px;
}
.content .left-content .user-function .btn:hover {
  background-color: #EEE;
}
.content .main-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.content .main-content .post-article {
  display: flex;
  padding: 14px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-light-grey, #EEE);
  background: #FFF;
  font-weight: 600;
  line-height: 128%;
  /* 20.48px */
}
.content .main-content .post-article .post-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}
.content .main-content .post-article .btn {
  display: flex;
  padding: 10px 16px;
  align-items: flex-start;
  gap: 10px;
  color: var(--color-white, #FFF);
  border-radius: 6px;
  border: 1px solid var(--color-red-primary, #B6020F);
  background: var(--color-red-primary, #B6020F);
  font-size: 16px;
  font-weight: 500;
  line-height: 128%;
  /* 20.48px */
}
.content .main-content .article-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.content .main-content .article-filter .tag-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.content .main-content .article-filter .tag-filter .tag-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 8px;
}
.content .main-content .article-filter .tag-filter .tag-wrapper .btn {
  border-color: #FFF;
}
.content .main-content .article-filter .tag-filter .tag-wrapper .btn:hover {
  border: 1.5px solid #B6020F;
  color: #B6020F;
}
.content .main-content .article-show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.content .right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.tag {
  cursor: pointer;
  border-radius: 39px;
  background: #FFF;
  padding: 7px 12px;
  border: 1px solid #3D4C68;
  gap: 10px;
  color: var(--text-black, #222);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.tag-click {
  border-color: #FFF;
  color: var(--text-grey, #666);
}
.tag-click:hover {
  border: 1.5px solid #B6020F;
  color: #B6020F;
}

.tag-active {
  border: 1.5px solid #B6020F;
  color: #B6020F;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 11px;
}
.author-info img {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border: 0.5px solid var(--border-light-grey, #EEE);
  object-fit: cover;
}
.author-info .user-post-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.author-info .user-post-text .user-post-follow {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  color: #3D4C68;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.author-info .user-post-text .user-post-follow .author-name {
  color: #3D4C68;
  cursor: pointer;
}
.author-info .user-post-text .user-post-follow .seperate-point {
  color: #999;
  text-align: right;
}
.author-info .user-post-text .user-post-follow .author-follow {
  color: #B6020F;
  text-align: right;
  cursor: pointer;
}
.author-info .user-post-text .user-post-sm-text {
  color: #666;
  font-size: 12px;
  font-weight: 400;
  line-height: 128%;
  /* 15.36px */
}

.real-estate-consignment-background {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background: url("/img/18f66961620e9cfa3f18c6bd73dd9d39.jfif");
  background-size: cover;
  background-position: center top 15%;
}
.real-estate-consignment-background .content-container {
  display: flex;
  width: 660px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
.real-estate-consignment-background .content-container .text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
}
.real-estate-consignment-background .content-container .text-section .font-xxl {
  align-self: stretch;
  text-align: center;
  font-weight: 700;
  line-height: 145%;
  /* 34.8px */
}
.real-estate-consignment-background .content-container .text-section .font-xl {
  align-self: stretch;
  text-align: center;
  font-weight: 400;
  line-height: 145%;
  /* 27.55px */
}
.real-estate-consignment-background .content-container .search-section {
  display: flex;
  height: 30px;
  padding: 10px 15px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: #FFF;
}
.real-estate-consignment-background .content-container .search-section #search {
  width: 100%;
  background: none;
}

.about-karo {
  padding: 56px 0 56px 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.about-karo .font-black {
  width: 660px;
  text-align: center;
  font-weight: 700;
  line-height: 145%;
  /* 34.8px */
}
.about-karo .card-container {
  display: flex;
  padding: 0px 24px;
  align-items: flex-start;
  gap: 16px;
}
.about-karo .card-container .card-info {
  display: flex;
  width: 250px;
  height: 343px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  border-radius: 8px;
  background: #FFF;
  position: relative;
}
.about-karo .card-container .card-info .font-big-red {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.about-karo .card-container .card-info .font-black {
  width: auto;
  text-align: unset;
  align-self: stretch;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  /* 26.1px */
}
.about-karo .card-container .card-info .view-more {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 16px;
  bottom: 16px;
  border-radius: 50px;
  background: var(--background-grey, #F8F8F8);
  backdrop-filter: blur(9px);
  cursor: pointer;
}

#search {
  color: var(--text-grey, #666);
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 23.2px */
  border: none;
  background: var(--background-grey, #F8F8F8);
}
#search:focus {
  outline: none;
}

.footer {
  background-color: #000;
  height: 433px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-info-section {
  display: flex;
  width: 1115px;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-info-section .info-left-section {
  display: flex;
  width: 275px;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
  flex-shrink: 0;
}
.footer .footer-info-section .info-left-section .info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.footer .footer-info-section .info-left-section .info-section .karo-logo {
  display: flex;
  align-items: center;
  gap: 12.417px;
}
.footer .footer-info-section .info-left-section .info-section .karo-logo .karo-title {
  color: #FFF;
  text-align: center;
  font-size: 33.019px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.776px;
}
.footer .footer-info-section .info-left-section .info-section .karo-contact {
  align-self: stretch;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer .footer-info-section .info-left-section .info-section .karo-contact .uppercase {
  font-weight: 500;
}
.footer .footer-info-section .info-left-section .link-section {
  width: 210px;
  height: 30px;
  gap: 15px;
  display: flex;
}
.footer .footer-info-section .info-left-section .link-section .link-icon {
  position: relative;
  cursor: pointer;
}
.footer .footer-info-section .info-left-section .link-section .link-icon .social-media-icon {
  position: absolute;
  left: 6px;
  bottom: 6px;
}
.footer .footer-info-section .info-middle-section {
  display: flex;
  align-items: center;
  gap: 120px;
  align-self: stretch;
}
.footer .footer-info-section .info-middle-section .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  /* 32px */
}
.footer .footer-info-section .info-right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
  align-self: stretch;
}
.footer .footer-info-section .info-right-section .email-contact {
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.footer .footer-info-section .info-right-section .email-contact .font-white {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  /* 33.6px */
}
.footer .footer-info-section .info-right-section .email-contact .email-contact-container {
  display: inline-flex;
  padding: 4px 6px 4px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 44px;
  background: #FFF;
}
.footer .footer-info-section .info-right-section .email-contact .email-contact-container .type-email {
  display: flex;
  align-items: center;
  gap: 42px;
}
.footer .footer-info-section .info-right-section .email-contact .email-contact-container .type-email #input-email {
  border: none;
  color: #111;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
}
.footer .footer-info-section .info-right-section .email-contact .email-contact-container .type-email #input-email:focus {
  outline: none;
}
.footer .footer-info-section .info-right-section .email-contact .email-contact-container .type-email .send-email {
  width: 42px;
  height: 42px;
  position: relative;
}
.footer .footer-info-section .info-right-section .email-contact .email-contact-container .type-email .send-email .btn-action-red {
  padding: 0;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 44px;
  background: #B6020F;
  cursor: pointer;
}
.footer .footer-info-section .info-right-section .email-contact .email-contact-container .type-email .send-email svg {
  position: absolute;
  bottom: 7px;
  left: 10px;
  cursor: pointer;
}
.footer .footer-info-section .info-right-section .font-white {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  /* 32px */
}

.over-flow-hidden {
  overflow: hidden;
}

.no-gap {
  gap: 0px;
}

.font-big-red {
  color: #B6020F;
  font-size: 17px;
  font-weight: 500;
  line-height: 145%;
  /* 24.65px */
}

.font-red {
  color: #B6020F;
}

.font-basic {
  color: #333;
}

.font-black {
  color: var(--color-black, #111);
}

.font-white {
  color: var(--color-white, #FFF);
}

.font-light-grey {
  color: var(--text-light-grey, #999);
}

.font-grey {
  color: #666;
}

.font-light-dark-blue {
  color: #3D4C68;
}

.font-xxl {
  font-size: 24px;
}

.font-xl {
  font-size: 19px;
}

.font-reg-sm {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

.uppercase {
  text-transform: uppercase;
}

.text-error {
  color: red;
}

.menu {
  display: none;
}

.form-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(17, 17, 17, 0.65);
  flex-shrink: 0;
  z-index: 1;
}

.width250px {
  width: 250px;
}

@media screen and (max-width: 1440px) {
  .navbar {
    width: 100%;
  }
  .navbar .search {
    width: 30px !important;
    height: 30px;
    border-radius: 30px !important;
  }
  .navbar .search input {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .u-login-name {
    display: none;
  }
  .card-info {
    width: 25% !important;
  }
}
@media screen and (max-width: 1160px) {
  .btn {
    font-size: 14px !important;
  }
  .content .main-content .post-container {
    font-size: 14px !important;
  }
  .content .main-content .article-filter .tag-wrapper {
    width: auto !important;
  }
  .content .main-content .deal-card-other-view {
    width: 100%;
  }
  .content .main-content .deal-card-other-view .address {
    width: 100% !important;
  }
  .content .main-content .deal-card-other-view .address .main-title {
    font-size: 14px !important;
  }
  .content .main-content .deal-card-other-view .address .main-title .places {
    font-size: 11px !important;
  }
  .content .right-content .connect-suggestion-card {
    width: auto;
  }
  .content .right-content .connect-suggestion-card .post-wrapper {
    width: 228px;
  }
}
@media screen and (max-width: 920px) {
  .footer {
    padding-top: 30px;
    height: auto;
  }
  .footer .footer-info-section {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .footer .footer-info-section .info-middle-section {
    align-items: center;
    justify-content: center;
  }
  .footer .footer-info-section .info-right-section {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 980px) {
  .content .right-content {
    display: none;
  }
  .menu {
    display: contents;
    gap: 25px;
  }
  .navbar .info {
    display: none !important;
  }
}
@media screen and (max-width: 570px) {
  .navbar .right-section .info {
    font-size: 12px !important;
  }
}