.intro-container_main {
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    .nav-container {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #808494;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        /* 27px */
        text-transform: capitalize;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px;
        width: 100%;

        .font-black {
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;
            /* 30px */
            letter-spacing: -0.2px;
        }

        .font-light-grey {
            color: #000929;
            font-size: 13px;
            font-weight: 500;
            line-height: 160%;
            /* 20.8px */
            letter-spacing: -0.065px;
            opacity: 0.5;
        }
    }

    .function-container {
        display: flex;
        align-items: center;
        gap: 16px;

        .font-blue {
            background: #F5F9FF;
            text-align: center;
            font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

            /* Body/Medium 150%/Bold */
            font-size: 14px;
            font-weight: 700;
            line-height: 150%;
            /* 24px */
        }
    }
}

.img-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;

    .big-img-wrapper {
        position: relative;
        width: 100%;

        .big-img {
            width: 100%;
            padding-top: 58.4%;
        }

        .img-content {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
        }

        .btn {
            position: absolute;
            top: 9px;
            right: 10.5px;
            display: flex;
            padding: 8px 15px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.60);
            backdrop-filter: blur(4.5px);
            border: none;

            .font-white {
                color: #FFF;
                text-align: center;

                /* Body / Small 140% / Bold */
                font-family: Plus Jakarta Sans;
                font-size: 13px;
                font-weight: 700;
                line-height: 140%;
                /* 19.6px */
            }
        }
    }

    .small-img-container {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        width: 100%;

        .small-img {
            width: 100%;
            padding-top: 24%;
        }

        .img-content {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.img-detail-container {
    width: 100%;
    position: relative;

    &:hover .img-detail-show {
        visibility: visible;
        cursor: pointer;
        opacity: 1;
        transition: opacity .3s ease-in-out;
    }

    .img-detail-show {
        width: 100%;
        height: 100%;
        padding: 8px 15px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.60);
        position: absolute;
        top: 0;
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease-in-out;

        .text-detail-show {
            font-size: 20px;
            font-weight: 700;
            line-height: 120%;
            /* 19.2px */
        }
    }
}

.about-work-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    padding: 24px 20px;
    box-sizing: border-box;
    align-items: center;
}

.about {
    display: flex;
    width: calc(100% - 350px - 34px);
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

    .line {
        width: -webkit-fill-available;
        height: 1.5px;
        opacity: 0.1;
        background: #000929;
    }
}

.info-detail {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 8px;
    border: 1.5px solid #F0EFFB;
    background: var(--main-color-white, #FFF);

    .detail-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        align-self: stretch;
        gap: 20px;

        .house-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            .house-info-title {
                color: #000929;
                font-family: Plus Jakarta Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                opacity: 0.5;

                /* 24px */
            }

            .house-info-detail {
                display: flex;
                align-items: center;
                gap: 8px;

                .house-info-text {
                    color: #000929;

                    /* Body / Large 145% / Bold */
                    font-family: Plus Jakarta Sans;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 145%;
                    /* 26.1px */
                    letter-spacing: -0.075px;
                }
            }
        }
    }

    .line {
        height: 1px;
        align-self: stretch;
        background: #FAFAFA;
    }
}

.about-properties-owner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    .properties {
        align-self: stretch;
        gap: 15px;
        display: flex;
        flex-direction: column;

        .properties-title {
            color: #000929;

            /* Heading/H4 */
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            /* 36px */
            letter-spacing: -0.18px;
        }

        .properties-detail {
            color: #000929;
            font-size: 15px;
            font-weight: 500;
            line-height: 160%;
        }
    }

    .owner {
        border-radius: 8px;
        border: 1.5px solid #E6F0FF;
        background: #FAFCFF;
        padding: 24px;
        align-self: stretch;

        .owner-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;

            .font-light-grey {
                color: #000929;

                /* Body / Medium 150% / Medium */
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
                opacity: 0.5;
            }

            .owner-content-title {
                /* Body / Medium 150% / Medium */
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
            }

            .owner-info {
                display: flex;
                justify-content: space-between;
                align-self: stretch;

                .font-black {
                    color: #000929;
                    font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

                    /* Body/Medium 150%/Bold */
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 150%;
                    /* 24px */
                }

                .font-grey {
                    color: #000929;

                    /* Body / Small 140% / Medium */
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                    opacity: 0.5;
                }

                .function-container {
                    display: inline-flex;
                    align-items: flex-start;
                    gap: 16px;

                    .btn {
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        align-items: center;
                        padding: 12px 24px;
                        border-radius: 8px;
                        background: #FFF0F0;
                        border: none;
                    }

                    .font-orange {
                        text-align: center;
                        font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

                        /* Body/Medium 150%/Bold */
                        font-family: Plus Jakarta Sans;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 150%;
                        /* 24px */
                    }
                }
            }
        }
    }
}

.type-about_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;

    .type-about-title {
        color: #000929;

        /* Heading/H4 */
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        /* 36px */
        letter-spacing: -0.18px;
    }

    .house-type-info {
        display: flex;
        gap: 80px;
        width: 100%;

        .type-info_group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 100%;

            .type-about_info {
                display: flex;
                align-self: stretch;
                justify-content: space-between;

                .type-about_info-title {
                    color: #000929;

                    /* Body / Medium 150% / Medium */
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                    /* 24px */
                    opacity: 0.5;
                }

                .font-black {
                    color: #000929;
                    text-align: right;

                    /* Body / Large 145% / Bold */
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 145%;
                    /* 26.1px */
                    letter-spacing: -0.075px;
                }

                .font-orange {
                    text-align: right;

                    /* Body / Large 145% / Bold */
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 145%;
                    /* 26.1px */
                    letter-spacing: -0.075px;
                }
            }
        }
    }

    .house-amenity {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        .house-amenity_title {
            display: flex;
            gap: 3px;
            color: var(--text-black, #000929);
            font-size: 15px;
            font-weight: 600;
            line-height: 150%;
            /* 27px */
            letter-spacing: -0.15px;
            align-items: flex-end;

            .font-light-grey {
                color: var(--text-light-grey, rgba(0, 9, 41, 0.50));
                font-size: 15px;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: -0.15px;
            }
        }

        .house-amenies_container {
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            gap: 12px;
            align-self: stretch;
            flex-wrap: wrap;

            .amenity-tag {
                padding: 8px 16px;
                border-radius: 8px;
                border: 1px solid var(--blue-3rd, #1D61CC);
                background: var(--bg-light-w-blue, #EBF3FF);
                color: var(--blue-3rd, #1D61CC);
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;

                /* 22.5px */
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.owner-customer_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.owner-content_contact {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1.5px solid var(--bg-light-w-blue, #EBF3FF);
    background: #FCFDFF;

    .owner-title {
        color: #000929;

        /* Body / Medium 150% / Medium */
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        /* 24px */
        opacity: 0.5;
    }

    .owner-info_contact {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .owner-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            .owner-name {
                color: #000929;
                font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

                /* Body/Medium 150%/Bold */
                font-size: 15px;
                font-weight: 700;
                line-height: 150%;
                /* 24px */
            }

            .owner-code {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                .font-light-grey {
                    color: #000929;

                    /* Body / Small 140% / Medium */
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */

                    opacity: 0.5;
                }

                .font-orange {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 140%;
                    /* 21px */
                }
            }
        }

        .btn-funcs_wrapper {
            display: inline-flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 16px;

            .btn-func-contact {
                padding: 10px 15px;
                border-radius: 6px;
                background: var(--bg-light-w-blue, #EBF3FF);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.customer-content_contact {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1.5px solid var(--bg-light-w-blue, #EBF3FF);
    border-radius: 8px;
    border-right: 1.5px solid #FFE9E9;
    border-bottom: 1.5px solid #FFE9E9;
    border-left: 1.5px solid #FFE9E9;
    background: #FFFDFD;

    .customer-title {
        color: #FF5358;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        /* 21px */
    }

    .customer-info_contact {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .customer-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            .customer-name {
                color: #000929;
                font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

                /* Body/Medium 150%/Bold */
                font-size: 15px;
                font-weight: 700;
                line-height: 150%;
                /* 24px */
            }

            .customer-note {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                .font-light-grey {
                    color: #000929;

                    /* Body / Small 140% / Medium */
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */

                    opacity: 0.5;
                }
            }
        }

        .btn-funcs_wrapper {
            display: inline-flex;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 10px;

            .btn-func-contact,
            .btn-func_add-note {
                padding: 12px 15px;
                border-radius: 8px;
                background: #FFF0F0;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .add-customer {
        display: flex;
        align-items: center;
        gap: 8px;

        .font-orange {
            /* Body / Small 140% / Bold */
            font-size: 14px;
            font-weight: 700;
            line-height: 140%;
            /* 19.6px */
        }
    }
}

.map-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;

    .font-black {

        /* Heading/H4 */
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        /* 36px */
        letter-spacing: -0.18px;
    }

    .map-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        .G-map {
            border-radius: 8px;
            background: #C4C4C4;
            width: 100% !important;
            height: 313px;
        }

        .link-active {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #FF5358;
            font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

            /* Body/Medium 150%/Bold */
            font-size: 14px;
            font-weight: 700;
            line-height: 150%;
            /* 24px */
        }
    }

    .font-blue {
        color: #002F7A;
        text-align: center;
        font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;
        font-size: 14px;
        font-weight: 700;
        line-height: 150%;
        /* 21px */
    }
}

.bar-chart-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    .font-black {
        color: #000929;

        /* Heading/H4 */
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        /* 36px */
        letter-spacing: -0.24px;
    }

    .bar-chart {
        display: flex;
        width: 100%;
        border-radius: 8px;
        border: 1.5px solid #FFE9E9;
        background: #FFFDFD;
        position: relative;

        .chart-unit {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            position: absolute;
            left: 20px;
            top: 20px;

            .font-light-grey {
                color: var(--main-color-black, #000929);
                font-size: 15px;
                font-weight: 500;
                line-height: 145%;
                /* 21.75px */
                letter-spacing: -0.075px;
                opacity: 0.7;
            }

            .font-black {
                color: var(--main-color-black, #000929);
                font-size: 18px;
                font-weight: 700;
                line-height: 125%;
                /* 22.5px */
                letter-spacing: -0.18px;
            }
        }

        #myChart {
            width: 100%;
        }
    }

    .font-light-grey {
        color: #000929;

        /* Body / Small 140% / Medium */
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        /* 19.6px */
        opacity: 0.5;
    }
}

.range-slider-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    .font-black {
        color: #000929;

        /* Heading/H4 */
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        /* 36px */
        letter-spacing: -0.24px;
    }

    .range-slider-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .range-slider-area {
            display: flex;
            padding: 20px 20px 25px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            align-self: stretch;
            border-radius: 8px;
            border: 1.5px solid #FFE9E9;
            background: #FFFDFD;

            .slide-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;

                .font-black {
                    color: #000929;
                    font-size: 16px;
                    font-weight: 600;
                    /* 24px */
                    border: none;
                    outline: none;
                    width: 100%;
                }

                .range-slider {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;

                    .slider {
                        width: 65%;
                        height: 6px;
                        appearance: none;
                        background: linear-gradient(90deg, #E6E6E6 60%, #E6E6E6 60%);
                        opacity: 0.7;
                        -webkit-transition: 0.2s;
                        transition: opacity 0.2s;
                        border-radius: 12px;

                        &:hover {
                            opacity: 1;
                        }

                        &::-webkit-slider-thumb {
                            appearance: none;
                            width: 20px;
                            height: 20px;
                            border-radius: 50px;
                            border: 1px solid #FF5358;
                            background: var(--color-white, #FFF);
                            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
                            cursor: pointer;
                        }
                    }

                    .text {
                        display: flex;
                        width: 25%;
                        padding: 10px 15px;
                        align-items: center;
                        gap: 20px;
                        border-radius: 8px;
                        border: 1px solid #E6E6E6;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 150%;
                    }
                }
            }
        }

        .range-slider-footer {
            display: flex;
            padding: 25px 20px;
            align-items: center;
            gap: 76px;
            align-self: stretch;
            border-radius: 8px;
            border: 1.5px solid #FFE9E9;
            background: #FFFDFD;

            .total-amount {
                display: flex;
                width: 65%;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;

                .total-amount-container {
                    display: flex;
                    align-items: flex-start;
                    gap: 63px;

                    .display-f {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 19px;

                        .title {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            .blue-point {
                                width: 9px;
                                height: 9px;
                                border-radius: 5px;
                                background: #0844A3;
                            }

                            .orange-point {
                                width: 9px;
                                height: 9px;
                                border-radius: 5px;
                                background: #EC1F25;
                            }

                            .black-point {
                                width: 9px;
                                height: 9px;
                                border-radius: 5px;
                                background: #000929;
                            }

                            .font-grey {
                                color: rgba(0, 9, 41, 0.70);
                                font-size: 15px;
                                font-weight: 500;
                                line-height: 128%;
                                /* 19.2px */
                            }
                        }

                        .font-black {
                            color: #000929;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 128%;
                            /* 23.04px */
                        }
                    }
                }

                .btn-black {
                    display: flex;
                    padding: 10px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    align-self: stretch;
                    border-radius: 5px;
                    background: #000929;

                    .font-white {
                        color: #EEE;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 128%;
                        /* 19.2px */
                    }

                    .font-big {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }

            .Frame-14054 {
                background: url(../img/Frame\ 14054.png);
                width: 25%;
                height: 148px;
                background-size: cover;
                background-position: center;
            }
        }
    }
}

.prenium-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;

    .prenium-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .font-black {
            color: #000929;

            /* Heading/H4 */
            font-size: 24px;
            font-weight: 700;
            line-height: 150%;
            /* 36px */
            letter-spacing: -0.24px;
        }

        .font-red {
            color: #FD5358;
            font-size: 15px;
            font-weight: 500;
            line-height: 140%;
            /* 21px */
        }
    }

    .prenium-body {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 8px;
        border: 1.5px solid #FFE9E9;
        background: #FFFDFD;

        .prenium-chart {
            width: 65%;
            padding: 20px;
            height: 228px;
        }

        .line {
            width: 1px;
            height: 100%;
            align-self: stretch;
            background: var(--border-light-grey, #EEE);
        }

        .prenium-range-slider {
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 100%;

            .prenium-range-slider-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                width: 100%;

                .font-black {
                    color: #000929;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 150%;
                    /* 24px */
                }

                .range-slider {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 15px;
                    align-self: stretch;

                    .slider {
                        width: -webkit-fill-available;
                        height: 6px;
                        appearance: none;
                        background: linear-gradient(90deg, #E6E6E6 60%, #E6E6E6 60%);
                        opacity: 0.7;
                        -webkit-transition: 0.2s;
                        transition: opacity 0.2s;
                        border-radius: 12px;

                        &:hover {
                            opacity: 1;
                        }

                        &::-webkit-slider-thumb {
                            appearance: none;
                            width: 20px;
                            height: 20px;
                            border-radius: 50px;
                            border: 1px solid #FF5358;
                            background: var(--color-white, #FFF);
                            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
                            cursor: pointer;
                        }
                    }

                    .text {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;

                        .font-black {
                            text-align: center;
                            font-size: 11px;
                            font-weight: 700;
                            line-height: 128%;
                            /* 14.08px */
                            letter-spacing: -0.5px;
                            text-transform: uppercase;
                        }

                        .font-red {
                            gap: 3px;
                            display: flex;
                            color: #EC1F25;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 128%;
                            /* 17.92px */
                            letter-spacing: -0.5px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .line {
                width: 100%;
                height: 1px;
                background: #EEE;
            }

            .result {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;

                .font-black {
                    color: #000929;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 150%;
                    /* 24px */
                }

                .detail {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    width: 100%;

                    .result-detail {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        gap: 14px;

                        .font-black {
                            color: #002051;
                            text-align: center;
                            font-size: 11px;
                            font-weight: 700;
                            line-height: 128%;
                            /* 14.08px */
                            letter-spacing: -0.5px;
                            text-transform: uppercase;
                        }

                        .font-red {
                            color: #EC1F25;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 128%;
                            /* 17.92px */
                            letter-spacing: -0.5px;
                            text-transform: uppercase;
                        }

                        .font-green {
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 128%;
                            /* 17.92px */
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

.work-wrapper {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-container-setting {
    width: 100%;
    background: #FAFCFF;
    padding: 35px 0;
}

.similar-setting {
    display: flex;
    flex-direction: column;
    width: 1240px;
    padding: 0 30px;
    justify-content: center;
    box-shadow: 0px 4px 200px 0px rgba(232, 249, 247, 0.20);
    gap: 48px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;

    .font-black {
        color: #000929;

        /* Heading/H4 */
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        /* 36px */
        letter-spacing: -0.24px;
    }
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1240px;
    max-width: 100%;
    gap: 32px;
}

.Karo-page-footer {
    width: 100%;
    background: var(--main-color-white, #FFF);
    box-shadow: 0px 4px 200px 0px rgba(232, 249, 247, 0.20);

    .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1240px;
        padding: 80px 30px 0 30px;
        margin: 0 auto;
        box-sizing: border-box;
        max-width: 100%;

        .info-area {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .Karo-logo {
                display: flex;
                align-items: center;
                gap: 9.778px;

                .font-black {
                    text-align: center;
                    font-size: 29.333px;
                    font-weight: 500;
                    letter-spacing: -0.611px;
                }
            }

            .text-section {
                width: 297px;

                .font-black {
                    color: #000929;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                }
            }
        }

        .nav-menu {
            display: flex;
            align-items: flex-start;
            gap: 88px;

            .nav-wrapper {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 48px;

                .nav-container {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .font-black {
                        color: #000929;
                        font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

                        /* Body/Medium 150%/Bold */
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 150%;
                        /* 24px */
                    }

                    .list-link {
                        display: flex;
                        flex-direction: column;

                        .font-grey {
                            color: #000929;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 38px;
                            /* 237.5% */
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    .line {
        margin-top: 48px;
        width: 100%;
        height: 1.5px;
        background: #EC252A;
    }

    .copy-right {
        padding: 30px;
        width: 1240px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 100%;

        .font-light-grey {
            color: #000929;

            /* Body / Medium 160% / Medium */
            font-size: 16px;
            font-weight: 500;
            line-height: 160%;
            /* 25.6px */
            opacity: 0.5;
        }

        .socials {
            display: inline-flex;
            align-items: flex-start;
            gap: 40px;
            opacity: 0.3;
        }
    }
}

.author-info {
    display: flex;
    align-items: center;
    gap: 11px;

    img {
        width: 45px;
        height: 45px;
        border-radius: 45px;
        border: 0.5px solid var(--border-light-grey, #EEE);
        object-fit: cover;
    }

    .user-post-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        .user-post-follow {
            display: flex;
            align-items: flex-start;
            gap: 6px;
            color: #3D4C68;
            font-size: 14px;
            font-weight: 500;
            line-height: normal;

            .author-name {
                color: #3D4C68;
                cursor: pointer;
            }

            .seperate-point {
                color: #999;
                text-align: right;
            }

            .author-follow {
                color: #B6020F;
                text-align: right;
                cursor: pointer;
            }
        }

        .user-post-sm-text {
            color: #666;
            font-size: 12px;
            font-weight: 400;
            line-height: 128%;
            /* 15.36px */
        }
    }
}