.Karo_manage-list_container._mob {
    width: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-sizing: border-box;
    overflow: hidden;

    .img-title_container {
        width: 100%;
        position: relative;
        padding-top: 17.87%;

        .img-content {
            width: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }

    .user-section._mob {
        position: relative;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        z-index: 1;

        .user-img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 15px;
            background: #FFF;
        }

        .user-cotent_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding-bottom: 6px;

            .btn-funtion-edit {
                display: flex;
                padding: 8px 15px;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                background: var(--BG-Light-w-Blue, #EBF3FF);
                box-sizing: border-box;
                color: var(--Blue-2nd, #002F7A);
                text-align: center;
                font-size: 15px;
                font-weight: 600;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .user-info._mob {
        padding: 17px 20px 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .user-name {
            color: var(--Dark-1st, #000929);
            font-size: 22px;
            font-weight: 700;
        }

        .user-role {
            display: flex;
            gap: 17px;

            .font-grey {
                color: var(--Text-Grey, rgba(0, 9, 41, 0.70));
                font-size: 15px;
                font-weight: 500;
            }

            .font-light-grey {
                color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.50));
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .manage-list_container._mob {
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .manage-list_filter-tag_container {
            display: flex;
            flex-direction: column;
            padding-left: 20px;

            .manage-list_title {
                color: var(--Dark-1st, #000929);
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .manage-list_filter-tag {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: scroll;
                width: 100%;
                gap: 14px;

                &::-webkit-scrollbar {
                    width: 0;
                }

                .filter-tag {
                    display: flex;
                    padding: 11px 17px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background: var(--BG-Light-w-Blue, #EBF3FF);
                    width: 100%;
                    min-width: 180px;

                    .name-tag {
                        color: var(--Text-Black-2nd, #100029);
                        text-align: center;
                        font-size: 16px;
                        font-weight: 700;
                    }

                    .total-list_item-amount {
                        color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.50));
                        font-size: 18px;
                        font-weight: 800;
                        line-height: 18px;
                        /* 90% */
                        letter-spacing: 0.43px;
                    }
                }

                .filter-tag.active {
                    display: flex;
                    padding: 13px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background: var(--Red-2nd, #FF5358);

                    .name-tag {
                        color: #FFF;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 700;
                    }

                    .total-list_item-amount {
                        color: var(--Red-Red-Light, #FFF0F0);
                        font-size: 18px;
                        font-weight: 800;
                        line-height: normal;
                        /* 90% */
                        letter-spacing: 0.43px;
                    }
                }
            }

            .function-container {
                padding: 13px 20px 13px 0;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .font-light-grey {
                    color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.50));
                    font-size: 14px;
                    font-weight: 600;
                }

                .btn-create {
                    display: flex;
                    padding: 8px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    background: var(--Blue-2nd, #002F7A);
                    box-sizing: border-box;

                    &:hover {
                        opacity: 0.8;
                    }

                    .text {
                        color: #FFF;
                        text-align: center;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
        }

        .manage_list-content_container {
            display: flex;
            flex-direction: column;

            .manage_list-items {
                position: relative;
                display: flex;
                width: 100%;
                padding: 15px 16px;
                box-sizing: border-box;
                align-items: center;
                border-top: 1px solid var(--Border-Blue, #E6F0FF);

                .items-img-section {
                    width: 60px;
                    display: flex;
                    flex-direction: column;

                    .items-img-content {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: 6px 6px 0px 0px;
                        box-sizing: border-box;
                    }

                    .items-img-tag {
                        display: flex;
                        padding: 4.615px 6.593px;
                        align-items: center;
                        justify-content: center;
                        gap: 2.637px;
                        border-radius: 0px 0px 6px 6px;
                        background: var(--Text-Black, #000929);
                        box-sizing: border-box;

                        .font-white {
                            font-size: 8px;
                            font-weight: 700;
                            line-height: 10.549px;
                        }
                    }

                    .items-img-tag.active {
                        background: var(--Red-Primary, #EC1F25);
                    }
                }

                .items-cotent_container {
                    width: calc(100% - 60px);
                    display: flex;
                    padding-left: 16px;
                    flex-direction: column;
                    gap: 10px;
                    align-self: stretch;
                    box-sizing: border-box;

                    .items-info {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        .items-img-tag {
                            width: fit-content;
                            display: flex;
                            padding: 5px 6px;
                            align-items: center;
                            gap: 4px;
                            border-radius: 8px;
                            background: var(--Text-Black, #000929);

                            .font-white {
                                font-size: 8px;
                                font-weight: 700;
                                line-height: 10.549px;
                                /* 131.868% */
                            }
                        }

                        .items-img-tag.active {
                            background: var(--Red-Primary, #EC1F25);
                        }

                        .items-info-title {
                            display: flex;
                            gap: 10px;
                            color: var(--Dark-1st, #000929);
                            font-size: 12px;
                            font-weight: 700;
                            line-height: normal;

                            .font-blue {
                                color: var(--Blue-2nd, #002F7A);
                                font-size: 12px;
                                font-weight: 700;
                            }

                            .font-black {
                                font-size: 12px;
                                font-weight: 700;
                            }
                        }

                        .items-info-price {
                            display: flex;
                            align-items: center;
                            gap: 7px;

                            .font-light-grey {
                                color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.50));
                                font-size: 11px;
                                font-weight: 600;
                            }

                            .font-orange {
                                color: var(--Red-Primary, #EC1F25);
                                font-size: 12px;
                                font-weight: 700;
                            }
                        }

                        .font-grey {
                            color: var(--Text-Grey, rgba(0, 9, 41, 0.70));
                            font-size: 10px;
                            font-weight: 500;
                            line-height: 150%;
                            /* 22.5px */
                        }

                        .line-clamp_1 {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }

                    .items-facilities {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .items-house-container {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            .items-house-code {
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                .font-black {
                                    font-size: 10px;
                                    font-weight: 600;
                                    line-height: 140%;
                                    /* 18.2px */
                                }
                            }

                            .items-house-info_container {
                                display: flex;
                                align-items: center;
                                gap: 20px;

                                .items-house-info {
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;

                                    .font-black {
                                        font-size: 10px;
                                        font-weight: 600;
                                        line-height: 140%;
                                        /* 18.2px */
                                    }
                                }
                            }
                        }

                        .items-house-function-container {
                            display: flex;
                            width: 441px;
                            align-items: center;
                            gap: 15px;

                            .btn_post-sell,
                            .btn-deposit {
                                display: flex;
                                padding: 7px 10px;
                                align-items: center;
                                gap: 10px;
                                border-radius: 8px;
                                color: #FFF;
                                text-align: center;
                                font-size: 14px;
                                font-weight: 600;

                                &:hover {
                                    cursor: pointer;
                                    opacity: 0.8;
                                }
                            }

                            .btn_post-sell {
                                background: var(--Blue-2nd, #002F7A);
                            }

                            .btn-deposit {
                                border-radius: 8px;
                                border: 1px solid var(--Red-2nd, #FF5358);
                                background: var(--Red-2nd, #FF5358);
                            }

                            .items-house-info {
                                display: flex;
                                gap: 10px;

                                .font-blue {
                                    color: var(--Blue-2nd, #002F7A);
                                    font-size: 14px;
                                    font-weight: 700;
                                }

                                .font-black {
                                    color: var(--Dark-1st, #000929);
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                        }

                        .time-trading {
                            display: flex;
                            justify-content: end;
                            gap: 5px;
                            color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.50));
                            font-size: 8px;
                            font-weight: 500;
                        }
                    }

                    .btn-function-container {
                        display: flex;
                        gap: 10px;

                        .btn-post {
                            display: flex;
                            padding: 7px 10px;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            border-radius: 8px;
                            background: var(--Blue-2nd, #002F7A);
                            color: #FFF;
                            text-align: center;
                            font-size: 11px;
                            font-weight: 600;

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        .btn-decline {
                            display: flex;
                            padding: 7px 10px;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            border-radius: 8px;
                            border: 1px solid var(--Red-2nd, #FF5358);
                            color: var(--Red-2nd, #FF5358);
                            text-align: center;
                            font-size: 11px;
                            font-weight: 600;

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        .btn-edit {
                            display: flex;
                            padding: 5px 10px;
                            align-items: center;
                            justify-content: center;
                            gap: 7px;
                            align-self: stretch;
                            border-radius: 8px;
                            background: var(--BG-Light-w-Blue, #EBF3FF);
                            color: var(--Blue-2nd, #002F7A);
                            text-align: center;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 145%;

                            /* 20.3px */
                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        .btn-etc {
                            display: flex;
                            padding: 5px 10px;
                            align-items: center;
                            justify-content: center;
                            gap: 7px;
                            align-self: stretch;
                            border-radius: 8px;
                            background: var(--BG-Light-w-Blue, #EBF3FF);

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                        .btn_post-sell,
                        .btn-deposit {
                            display: flex;
                            padding: 7px 10px;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            border-radius: 8px;
                            color: #FFF;
                            text-align: center;
                            font-size: 11px;
                            font-weight: 600;

                            &:hover {
                                cursor: pointer;
                                opacity: 0.8;
                            }
                        }

                        .btn_post-sell {
                            background: var(--Blue-2nd, #002F7A);
                        }

                        .btn-deposit {
                            border-radius: 8px;
                            border: 1px solid var(--Red-2nd, #FF5358);
                            background: var(--Red-2nd, #FF5358);
                        }
                    }
                }
            }

            .manage_list-items_request._mob {
                display: flex;
                flex-direction: column;
                padding: 15px 16px;
                gap: 14px;
                align-self: stretch;
                border-top: 1px solid var(--BG-Dark-Grey, #E6E6E6);
                box-sizing: border-box;

                .user-section {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;

                    .user-img {
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                        border-radius: 50px;
                        border: 0.256px solid rgba(0, 0, 0, 0.10);
                    }

                    .items-info-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .tile-text {
                            display: flex;
                            gap: 3px;
                            color: var(--Dark-1st, #000929);
                            font-size: 13px;
                            font-weight: 500;

                            .font-bold {
                                font-weight: 700;
                            }

                            .font-red {
                                color: var(--Red-Primary, #EC1F25);
                                font-weight: 700;
                            }
                        }
                    }
                }

                .items-info-container {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    gap: 14px;
                    align-self: stretch;

                    .items-img-name-container {
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        gap: 16px;
                        border-radius: 8px;
                        border: 1px solid var(--Border-Blue, #E6F0FF);
                        background: var(--BG-Section-Light-Blue, #FAFCFF);

                        .items-img {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            border-radius: 5px;
                            background: #C4C4C4;
                        }

                        .items-name-location {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .line-clamp_1 {
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }

                            .items-name {
                                color: var(--Main-Color-Black, #000929);
                                font-size: 11px;
                                font-weight: 700;
                                line-height: 140%;
                                /* 19.6px */
                            }

                            .items-house-info_container {
                                display: flex;
                                flex-direction: column;
                                gap: 7px;

                                .items_house-price {
                                    color: var(--Red-2nd, #FF5358);
                                    font-size: 12px;
                                    font-weight: 800;
                                    line-height: 150%;
                                    /* 21px */
                                    letter-spacing: -1px;
                                    display: flex;
                                    align-items: center;

                                    .font-light-grey {
                                        color: var(--Text-Light-Grey, rgba(0, 9, 41, 0.50));
                                        font-size: 11px;
                                        font-weight: 500;
                                    }
                                }

                                .items_house-address {
                                    color: var(--Main-Color-Black, #000929);
                                    font-size: 9px;
                                    font-weight: 500;
                                    line-height: 150%;
                                    /* 18px */
                                    opacity: 0.7;
                                }

                                .items-house-info {
                                    display: flex;
                                    gap: 20px;

                                    .house-info {
                                        display: flex;
                                        gap: 8px;

                                        .font-black {
                                            color: #000929;
                                            font-size: 10px;
                                            font-weight: 500;
                                            line-height: 140%;
                                            /* 16.8px */
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .items-funtion-container {
                    display: flex;
                    gap: 10px;

                    .btn-accept {
                        width: 100%;
                        display: flex;
                        padding: 7px 25px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        box-sizing: border-box;
                        border-radius: 6px;
                        background: var(--Blue-2nd, #002F7A);
                        color: var(--Color-White, #FFF);
                        text-align: center;
                        font-size: 11px;
                        font-weight: 600;
                        line-height: normal;

                        /* 17.92px */
                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .btn-reject {
                        width: 100%;
                        display: flex;
                        padding: 7px 25px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        border: 1px solid var(--Text-Black, #000929);
                        color: var(--Text-Black, #000929);
                        text-align: center;
                        font-size: 11px;
                        font-weight: 600;
                        line-height: normal;

                        /* 17.92px */
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        .pagination-container {
            border-top: 1px solid var(--BG-Dark-Grey, #E6E6E6);
            padding: 15px 16px;
            display: flex;
            height: 34px;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;

            .btn_go-back,
            .btn-number,
            .btn_next-page {
                display: flex;
                min-width: 38px;
                padding: 10px 12px;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                border-radius: 6px;
                background: var(--BG-Light-Blue, #F5F9FF);
                color: var(--Blue-2nd, #002F7A);
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                /* 120% */
                letter-spacing: 0.43px;

                &:hover {
                    opacity: 0.8;
                }
            }

            .btn_go-back.disable {
                opacity: 0.4;
                cursor: default;
            }

            .btn-number.current {
                background: var(--Blue-2nd, #002F7A);

                /* Light/Gray/Gray - SM */
                box-shadow: 0px 2px 4px 0px rgba(165, 163, 174, 0.30);
                color: var(--Theme-White, #FFF);
            }
        }
    }
}