/* reset styles */
* {
    color: inherit;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    background-color: white;
    font-size: $base-font-size;
    color: black;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  hr {
    border: 0;
    border-top: 1px dotted #efefef;
  }
  
  img {
    max-width: 100%;
  }
  
  .test {
    color: $primary;
  }

  .grid-temp-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

  .grid-temp-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  select{
    cursor: pointer;
  }
