@mixin btn($bg-color: #e2e2e2) {
    cursor: pointer;
    color: var(--text-black, #222);
    text-align: center;
    font-size: $base-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn {
    @include btn;
}

.btn-r-25 {
    border-radius: 25px !important;
}

.btn-disable {
    opacity: 0.2;

    &:hover {
        cursor: default !important;
    }
}

.btn-orange {
    background: #EC1F25;
    color: #fff;

    &:hover {
        background: #EC1F25;
        cursor: pointer;
    }
}

.btn-navy {
    background: var(--color-navy, #3D4C68);
    color: #fff;
}

.btn-black {
    border: 1px solid var(--color-navy, #3D4C68);
    background: var(--color-black, #111);
}

.btn-dark-grey {
    background: var(--color-dark-grey, #EFEFEF);
    color: #666;
}

.btn-funcs {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1.5px solid #F5F9FF;
    background: #F5F9FF;
    cursor: pointer;
}

.btn-func {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    justify-content: center;
    gap: 9.125px;
    border-radius: 6px;
    background: var(--bg-light-blue, #F5F9FF);
    border: none;
    cursor: pointer;
}

.btn-success {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    justify-content: center;
    gap: 9.125px;
    border-radius: 6px;
    background: var(--green-light, #F0FFE8);
    border: none;
    cursor: pointer;
}

.search-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1.5px solid #F5F9FF;
    background: #F5F9FF;
    cursor: pointer;
}

.btn-funcs,
.btn,
.btn-black,
.btn-orange,
.btn-dark-grey,
.btn-navy,
.search-btn,
.btn-func,
.btn-success,
.like-btn,
.btn-login {
    &:hover {
        opacity: 0.8;
    }
}

.sign-up-btn {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-navy, #3D4C68);
}

.btn-login {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid var(--blue-primary, #0844A3);

    .font-blue {
        color: var(--blue-primary, #0844A3);
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 125%;
        /* 20px */
    }
}

.btn-post {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;

    .font-white {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 125%;
        /* 20px */
    }
}

.btn-action {
    font-size: $base-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.125px;
    flex: 1 0 0;
    border-radius: 6px;
    border: 0.8px solid #E0E3EA;
    background: #FFF;

    >div {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.btn-action-regular {
    color: var(--color-navy, #3D4C68);

    &:hover {
        color: #B6020F;
        border: 0.8px solid #B6020F;
    }
}

.btn-action-red {
    border: 0.8px solid #B6020F;
    background: #B6020F;
    padding: 10px 7px;
    color: white;

    &:hover {
        border: 0.8px solid #B6020F;
        color: #FFF;
    }
}

.btn-action-yellow-cream {
    border: 0.8px solid var(--status-warning, #FFF2AE);
    background: var(--status-warning, #FFF2AE);
    padding: 10px 7px;
}