.count-down-card {
    display: flex;
    width: 350px;
    height: fit-content;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 8px;
    background: #002051;
    box-sizing: border-box;

    .status {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .font-white {
            font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            /* 27px */
        }

        .plan {
            display: inline-flex;
            padding: 6px 10px;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.10);
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            /* 19.6px */
        }

        .status-color_green {
            color: #60EE1E;
        }

        .status-color_yellow {
            color: #EED91E;
        }

        .status-color_orange {
            color: #EE821E;
        }

        .status-color_red {
            color: #FD7171;

        }
    }

    .doughnut-chart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        align-self: stretch;

        .chart-section {
            width: 180px;
            height: 100px;
        }

        .font-white {
            align-self: stretch;
            color: var(--main-color-white, #FFF);
            text-align: center;
            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
            /* 18px */
        }
    }

    .btn-extend {
        display: flex;
        width: -webkit-fill-available;
        padding: 13px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        color: #FF5358;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        background: #FFF;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &:hover.btn-disable {
            opacity: 0.2;
        }
    }
}

.slide-card {
    display: flex;
    width: 350px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 8px;
    border: 1.5px solid #FF5358;
    background: var(--main-color-white, #FFF);
    position: sticky;
    top: 103px;
    box-sizing: border-box;

    .font-grey {
        color: #000929;

        /* Body / Medium 150% / Medium */
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        /* 24px */
        opacity: 0.5;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;

        .author-info {
            gap: 15px;

            img {
                width: 65px;
                height: 65px;
            }

            .display-f {
                align-items: center;
                gap: 8px;

                .font-black {
                    color: #000929;
                    text-align: center;
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 128%;
                    /* 21.76px */
                }

                .font-red {
                    color: #FF5358;
                    text-align: right;
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            .font-grey {
                color: #666;

                /* Body / Small 140% / Medium */
                font-size: 14px;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
            }
        }

        .line {
            width: -webkit-fill-available;
            height: 1.5px;
            background: #F0EFFB;
        }

        .info-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            .seperate-line {
                width: 1px;
                height: 40px;
                background: #D9D9D9;
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            .font-grey {
                color: #000929;
                font-size: 14px;
                font-weight: 500;
                line-height: 140%;
                /* 19.6px */
                opacity: 0.5;
            }

            .font-red {
                color: #EC1F25;
                font-size: 24px;
                font-weight: 800;
                line-height: 150%;
                /* 36px */
                letter-spacing: -1px;
            }

            .font-black {
                color: #000929;
                font-size: 16px;
                font-weight: 600;
                line-height: 150%;
                /* 24px */
            }
        }

        .btn-function {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;

            .btn-navy {
                width: 50%;
                display: flex;
                padding: 14px 32px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                background: #002F7A;
                border: 1.5px solid #002F7A;
                color: var(--main-color-white, #FFF);
                text-align: center;
                cursor: pointer;
                font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

                /* Body/Medium 150%/Bold */
                font-size: 16px;
                font-weight: 700;
                line-height: 150%;

                /* 24px */
            }

            .btn-orange {
                width: 50%;
                display: flex;
                padding: 14px 16px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 8px;
                border: 1.5px solid #FF5358;
                background: #FF5358;

                .font-white {
                    color: var(--main-color-white, #FFF);
                    text-align: center;
                    font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

                    /* Body/Medium 150%/Bold */
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 150%;
                    /* 24px */
                }
            }
        }
    }

    .search-btn {
        .font-blue {
            color: #002F7A;
            text-align: center;
            font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

            /* Body/Medium 150%/Bold */
            font-size: 16px;
            font-weight: 700;
            line-height: 150%;
            /* 24px */
        }

        .font-orange {
            text-align: center;
            font-feature-settings: 'ss04' on, 'ss06' on, 'liga' off;

            /* Body/Medium 150%/Bold */
            font-size: 16px;
            font-weight: 700;
            line-height: 150%;
            /* 24px */
        }
    }
}

.card-deal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #F0EFFB;
    border-radius: 10px;
    position: relative;

    .mask-group {
        width: 100%;
        padding-top: 51%;
        border-top-right-radius: 10px;
        position: relative;

        .card-deal-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .like-btn {
        width: 40px;
        height: 40px;
        background: #FFF;
        border-radius: 25px;
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;

        svg {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .like-btn.click svg {
        fill: #002051;
    }

    .text {
        display: flex;
        padding: 25px 20px 20px 16px;
        flex-direction: column;
        align-items: center;
        margin-bottom: auto;

        .text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            .text-area {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;

                .price {
                    display: flex;

                    .font-red {
                        color: #EC1F25;
                        font-size: 20px;
                        font-weight: 800;
                        line-height: 150%;
                        /* 30px */
                        letter-spacing: -1px;
                    }

                    .font-light-grey {
                        color: var(--main-color-black, #000929);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                        /* 175% */
                        opacity: 0.5;
                        align-self: self-end;
                    }
                }

                .font-black {
                    color: #000929;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 150%;
                    /* 25.5px */
                    letter-spacing: -0.17px;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .font-light-grey {
                    color: #000929;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 150%;
                    /* 19.5px */
                    opacity: 0.5;
                }
            }

            .facilities {
                display: flex;
                gap: 30px;

                .display-f {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .font-grey {
                        color: #000929;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background: #F0EFFB;
    }

    .owner-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        padding: 16px 20px 20px 20px;

        .author-info {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 45px;
                height: 45px;
            }

            .font-black {
                font-size: 14px;
                font-weight: 500;
            }

            .font-grey {
                font-size: 12px;
                font-weight: 400;
                line-height: 128%;
                /* 15.36px */
            }
        }

        .btn {
            display: flex;
            padding: 10px 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 9.125px;
            border-radius: 6px;
            background: #FFF0F0;
            border: none;
        }
    }

    .btn-wrapper {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding: 16px 20px 20px 20px;
        gap: 15px;


        .btn-func {
            .font-blue {
                font-size: 15px;
                font-weight: 600;
                line-height: 140%;
                /* 21px */
            }
        }

        .btn-success {
            .font-green {
                font-size: 15px;
                font-weight: 700;
                line-height: 140%;
                /* 21px */
            }
        }
    }

    .sell-tag {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -9px;
        bottom: -24px;

        .sell-tag-wrapper {
            width: 110px;
            height: 32px;
            border-radius: 8px 8px 8px 0px;
            background: #FF5358;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            .font-white {
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                /* 133.333% */
                letter-spacing: 0.5px;
            }
        }
    }

    .rent-tag {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -9px;
        bottom: -24px;

        .rent-tag-wrapper {
            width: 110px;
            height: 32px;
            border-radius: 8px 8px 8px 0px;
            background: #1D61CC;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            .font-white {
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                /* 133.333% */
                letter-spacing: 0.5px;
            }
        }
    }
}

.intro-card {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px 21px 24px 32px;
    border-radius: 8px;
    border: 1.5px solid var(--red-3rd, #FFB7B9);
    background: var(--main-color-white, #FFF);
    box-shadow: 0px 0px 50px 0px rgba(112, 101, 240, 0.20);

    .intro-card_icon {
        width: 64px;
        height: 64px;
        background: #FFF0F0;
        border: 2px solid #FFB7B9;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro-card_text {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .font-blue {
            color: var(--main-color-secondary, #100A55);

            /* Body / XLarge 160% / Bold */
            font-size: 20px;
            font-weight: 700;
            line-height: 160%;
            /* 32px */
            letter-spacing: -0.1px;
        }

        .font-grey {
            color: var(--greyscale-grey-600, #4D5461);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            /* 25.6px */
        }
    }
}