@use 'sass:math';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 4);

    .card-title {
        font-size: $font-size-lg;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    .card-body {
        font-size: $base-font-size;

        a {
            text-decoration: underline;
        }
    }
}

.deal-card-other-view {
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 0.8px solid #E4E4E4;
    background: #FFF;

    .author {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        padding: 16px;
        gap: 10px;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 0.5px solid var(--border-light-grey, #EEE);
        background: #FFF;

        .dropdown-function {
            display: flex;
            padding-top: 2px;
            align-items: flex-start;
            gap: 10px;

            .dropdown-content {
                display: none;
                position: absolute;
                align-items: flex-start;
                border-radius: 5px;
                border: 1px solid #E0E3EA;
                background: #FFF;
                box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.09);
                color: var(--text-black, #222);
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                line-height: 145%;
                /* 21.75px */

                a,
                .text-error {
                    cursor: pointer;
                    padding: 10px 15px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background: #EEE;
                    }
                }

                a {
                    color: black;
                }

                .dropdown-content-line {
                    height: 1px;
                    align-self: stretch;
                    background: var(--background-grey, #F8F8F8);
                }
            }

            &:hover .dropdown-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        .detail {
            display: grid;
            padding: 16px;
            align-items: flex-start;
            gap: 15px;
            align-self: stretch;

            .title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                .address {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 7px;

                    .status {
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        color: #3D4C68;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 145%;
                        /* 18.85px */
                        text-transform: uppercase;
                    }

                    .main-title {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        align-self: stretch;
                        color: #222;
                        font-size: 17px;
                        font-weight: 500;
                        line-height: 145%;

                        /* 24.65px */
                        .places {
                            color: #44ACF8;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }

                .important-detail {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    /* 24.65px */
                    .house-size {
                        width: 66px;
                        height: 24px;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }

            .img-list {
                display: flex;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                .post-img {
                    height: 167px;
                    flex: 1 0 0;
                    width: 50%;
                    flex-shrink: 0;
                    object-fit: cover;
                }

                .post-img-1 {
                    width: 100%;
                    height: 261px;
                    flex-shrink: 0;
                    object-fit: cover;
                }

                .extra-img {
                    background: rgba(17, 17, 17, 0.50);
                }
            }

            .suggestion {
                display: flex;
                padding: 7px 10px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                border-radius: 5px;
                background: var(--background-blue, rgba(68, 172, 248, 0.10));
                color: var(--color-navy, #3D4C68);
                font-size: 14px;
                font-weight: 500;
                line-height: 145%;
                cursor: pointer;
                /* 20.3px */
            }
        }

        .action {
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            align-self: stretch;

            .action-list {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;

                .btn {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                }

                .btn-action-red {
                    color: white;
                }
            }
        }
    }
}

.connect-suggestion-card {
    display: flex;
    width: 280px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid var(--border-light-grey, #EEE);
    background: #FFF;

    .connect-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;

        .suggest-text {
            color: var(--color-navy, #3D4C68);
            text-align: center;
            font-size: 13px;
            font-weight: 600;
            line-height: 128%;
            /* 16.64px */
            text-transform: uppercase;
        }

        /* 16.64px */
        .info-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .post-save {
                display: flex;
                padding: 10px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-radius: 5px;
                background: var(--background-grey, #F8F8F8);
                cursor: pointer;

                &:hover {
                    background-color: #EEEEEE;
                }

                .post-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    align-self: stretch;

                    .post-title {
                        display: flex;
                        align-items: flex-start;
                        gap: 10px;
                        align-self: stretch;
                        color: #3D4C68;
                        text-align: center;
                        font-family: Be Vietnam Pro;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 128%;
                        /* 15.36px */
                        text-transform: uppercase;
                    }

                    .post-detail {
                        align-self: stretch;
                        color: var(--text-black, #222);
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 155%;
                        /* 20.15px */
                    }
                }
            }

            /* 14.08px */
            .user-post-follow {
                font-size: 13px;
            }

            .user-post-sm-text {
                font-size: 11px;
            }

            .line {
                width: 248px;
                height: 1px;
                background: #F8F8F8;
            }
        }

        .reload-list {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 5px;
            background: #F8F8F8;
            color: var(--color-navy, #3D4C68);
            text-align: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 128%;

            /* 16.64px */
            &:hover {
                background-color: #EEEEEE;
            }
        }
    }
}

.form-wrapper {
    display: flex;
    width: 500px;
    padding: 30px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .verify-success {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .display-f {
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .icon-check-success {
                display: flex;
                width: 48px;
                height: 48px;
                padding: 8px;
                justify-content: center;
                align-items: center;
                gap: 13.333px;
                border-radius: 66.667px;
                background: var(--status-success, #28C76F);

                svg {
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                }
            }

            .text-decoration {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: stretch;

                .text-notify-success {
                    align-self: stretch;
                    color: var(--color-navy, #3D4C68);
                    text-align: center;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 145%;
                    /* 34.8px */
                }
            }
        }

        .text-contact {
            width: 100%;
            color: var(--text-black, #222);
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;

            /* 27px */
            .font-red {
                font-size: 18px;
                font-weight: 400;
                line-height: 150%;
                display: contents;
            }
        }
    }

    .remove {
        display: flex;
        width: 45px;
        height: 45px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 50px;
        background: #FFF;

        svg {
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            cursor: pointer;
        }
    }

    .user-verify-section {
        display: flex;
        padding: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid var(--border-grey, #DDD);

        .user-verify-info {
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 15px;
            font-weight: 400;
            line-height: 145%;

            .font-basic {
                width: 115px;
            }

            .font-black,
            .font-light-grey {
                font-weight: 500;
            }

            .font-red {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }

    .deal-item {
        display: flex;
        padding: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid var(--border-grey, #DDD);

        .house-info-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            .house-info-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                .house-code {
                    display: flex;
                    align-items: flex-start;
                    color: var(--text-black, #222);
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 145%;
                    gap: 5px;
                }

                .view-detail {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 145%;
                    cursor: pointer;
                }
            }

            .address {
                align-self: stretch;
                color: #44ACF8;
                font-size: 15px;
                font-weight: 400;
                line-height: 145%;
                /* 21.75px */
            }

            .house-detail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;

                .house-detail-container {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                    align-self: stretch;

                    .house-detail-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        flex: 1 0 0;

                        svg {
                            width: 24px;
                            height: 24px;
                        }

                        .house-detail-info {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            font-size: 14px;
                            line-height: 145%;

                            .font-grey {
                                font-weight: 400;
                            }

                            .font-light-dark-blue {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            .img-list {
                display: flex;
                align-items: flex-start;
                gap: 9px;
                align-self: stretch;

                img {
                    height: 94px;
                    flex: 1 0 0;
                    object-fit: cover;
                }
            }
        }
    }
}

.advertise-section {
    display: flex;
    padding: 13.333px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    border-radius: 10px;
    border: 0.833px solid var(--border-light-grey, #EEE);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFEFEF 71.54%), #FFF;

    .advertise-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 17px;
        align-self: stretch;
        color: var(--text-black, #222);
        font-size: 18.333px;
        font-style: normal;
        font-weight: 600;
        line-height: 145%;

        .title {
            color: var(--color-red-primary, #B6020F);
        }

        .join-link {
            width: 120px;
            height: 15px;

            a {
                display: inline-flex;
                align-items: center;
                gap: 8.333px;

                .join-text {
                    color: var(--color-red-primary, #B6020F);
                    font-size: 11.667px;
                    font-weight: 600;
                    line-height: 130%;
                    /* 15.167px */
                    text-transform: uppercase;
                }
            }
        }
    }

    .advertise-img {
        width: 223.333px;
        height: 175.735px;
    }
}

.real-estate-consignment-card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #FFF;

    .card-title {
        display: flex;
        width: 550px;
        padding: 20px 24px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid var(--border-light-grey, #EEE);

        .line-title {
            width: 5px;
            height: 18px;
            flex-shrink: 0;
            border-radius: 5px;
            background: var(--color-red-primary, #B6020F);
        }

        .font-light-dark-blue {
            flex: 1 0 0;
            font-size: 18px;
            font-weight: 600;
            line-height: 128%;
            /* 23.04px */
            text-transform: uppercase;
        }
    }

    .card-fill-form {
        display: flex;
        width: 550px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;

        .input-item {
            display: flex;
            height: 30px;
            padding: 10px 15px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 6px;
            border: 1px solid var(--border-light-grey, #EEE);
            background: #FFF;
            cursor: pointer;

            #search {
                width: 100%;
                font-size: 15px;
                font-weight: 400;
                line-height: 128%;
                background-color: #FFF;
                /* 19.2px */
            }
        }

        .input-item-info {
            padding: 14px 15px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 6px;
            border: 1px solid var(--border-light-grey, #EEE);
            background: #FFF;
            font-size: 15px;
            font-weight: 400;
            line-height: 145%;
            display: flex;
            justify-content: space-between;
            flex: 1 0 0;
            cursor: pointer;

            .font-grey {
                display: flex;

                .font-red {
                    color: var(--status-error, #DB4A42);
                }
            }

            #search {
                font-size: 15px;
                font-weight: 400;
                line-height: 128%;
                background-color: #FFF;
                /* 19.2px */
            }

            .font-black {
                text-align: center;
                text-transform: none !important;
            }

            .select{
                font-size: 15px;
                font-family: 'Be Vietnam Pro';
                font-weight: 400;
                color: #666;
                line-height: 145%;
                border: none;
            }
        }

        .ai-support {
            display: flex;
            align-items: center;
            gap: 7px;
            align-self: stretch;
            cursor: pointer;

            .font-red {
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 145%;
                /* 20.3px */
            }
        }

        .real-estate-info-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;

            .font-black {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 128%;
                /* 19.2px */
                text-transform: uppercase;
            }

            .info-fill-form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 25px;
                align-self: stretch;

                .select-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 14px;
                    align-self: stretch;
                    border-radius: 5px;

                    .btn {
                        display: flex;
                        padding: 10px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        flex: 1 0 0;
                        border-radius: 6px;
                        line-height: 128%;
                        /* 20.48px */
                    }
                }
            }

            .info-img {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 18px;
                align-self: stretch;

                .font-light-dark-blue {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 145%;
                    /* 23.2px */
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .font-grey {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 128%;
                        text-transform: none;
                    }
                }

                .img-list {
                    display: flex;
                    align-items: flex-start;
                    gap: 4px;

                    .img-container {
                        width: 90px;
                        height: 90px;
                        border-radius: 6px;
                        display: flex;
                        position: relative;

                        .img {
                            width: 90px;
                            height: 90px;
                            flex-shrink: 0;
                            border-radius: 6px;
                            background: url("/img/house-picture.png");
                            background-size: cover;
                        }

                        .img-tool-left {
                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;
                            position: absolute;
                            bottom: 5px;
                            left: 5px;
                            cursor: pointer;
                        }

                        .img-tool-right {
                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;
                            position: absolute;
                            bottom: 5px;
                            right: 5px;
                            cursor: pointer;
                        }

                        .tool-pic {
                            position: absolute;
                            top: 6px;
                            left: 6px;
                        }

                        .add-img {
                            border-radius: 6px;
                            background: rgba(61, 76, 104, 0.15);
                            width: 90px;
                            height: 90px;
                            flex-shrink: 0;
                            cursor: pointer;
                        }

                        .img-tool-center {
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                        }
                    }
                }


            }

            .info-notice {
                display: flex;
                padding: 10px 14px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;
                border-radius: 5px;
                background: var(--status-warning, #FFF2AE);
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;

                .font-red {
                    color: var(--status-error, #DB4A42);
                    display: flex;
                    gap: 4px;
                }

                .font-black {
                    text-transform: none;
                    font-weight: 400;
                }
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
            align-self: stretch;

            .font-black {
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 128%;
                /* 19.2px */
                text-transform: uppercase;
            }

            .describe-info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;
                align-self: stretch;

                .font-grey {
                    cursor: pointer;
                    display: flex;
                    height: 130px;
                    padding: 10px 15px;
                    align-items: flex-start;
                    gap: 10px;
                    align-self: stretch;
                    border-radius: 6px;
                    border: 1px solid var(--border-light-grey, #EEE);
                    background: #FFF;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 145%;
                    /* 21.75px */
                }

                .ai-support {
                    align-self: auto;
                }
            }
        }

        .confirm-card {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            align-self: stretch;

            .btn {
                padding: 14px 10px;
                font-size: 17px;
                font-weight: 600;
                line-height: 128%;
                /* 21.76px */
            }
        }
    }
}